/* -----------------------------------------------------------------------------*/
/* 23.APPOINTMENT CONFIRMATION
/* -----------------------------------------------------------------------------*/
.confirmation-page {
  margin: 0;
}

.confirmation-page .promo-stripe {
  margin-bottom: 70px;
}

.confirmation-page .step3thankYouHeader {
  margin-bottom: 30px;
  margin-top: 30px;
}

@supports (display: grid) {
  .confirmation-page .step3thankYouHeader {
    margin-bottom: 0;
  }
}

.confirmation-page .step3thankYouHeader h1 {
  font-family: var(--font);
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  color: #333;
  clear: both;
}

.confirmation-page .exam-steps.center-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 30px;
  position: relative;
  width: 100%;
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

.confirmation-page .exam-steps.center-content > div {
  grid-column: 1 / -1;
}

.confirmation-page .step3_location_container {
  display: contents;
  text-align: center;
  color: #333;
}

.confirmation-page .step3_location_container > * {
  grid-column: 1 / -1;
}

.confirmation-page .step3_location_container > p {
  -ms-grid-row: 1;
  grid-row: 1;
  font-family: var(--font);
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
}

.confirmation-page .step3_location_container > .examLocation {
  -ms-grid-row: 2;
  grid-row: 2;
}

@supports (display: grid) {
  .confirmation-page .step3_location_container > .examLocation {
    margin-top: -15px;
  }
}

.confirmation-page .step3_location_container > .examLocation .exam-address {
  margin-bottom: 30px;
}

@supports (display: grid) {
  .confirmation-page .step3_location_container > .examLocation .exam-address {
    margin-bottom: 0;
  }
}

.confirmation-page .step3_location_container > .examLocation .exam-address .name {
  margin-bottom: 10px;
  font-family: var(--font);
  font-size: 25px;
  font-weight: 600;
}

.confirmation-page .step3_location_container > .examLocation .exam-address li {
  list-style: none;
}

.confirmation-page .step3_location_container > .examLocation .get-directions {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-decoration: underline;
}

.confirmation-page .step3_location_container > .examLocation .step3_thank_you {
  width: 1024px;
  height: 32px;
  font-family: var(--font);
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

.confirmation-page .step3_location_container > .step3_details2 {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin-top: 80px;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: right;
  padding-top: 18px;
}

@supports ((-webkit-transform: translateY()) or (transform: translateY())) {
  .confirmation-page .step3_location_container > .step3_details2 {
    -webkit-transform: none;
            transform: none;
  }
}

.confirmation-page .step3_location_container > .step3_details2 a {
  font-family: "HelveticaNeueForTarget";
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.confirmation-page .step3_location_container > .step3_details2 span {
  font-family: "HelveticaNeueForTarget";
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.confirmation-page .step3_location_container > .step3_details2 a {
  text-decoration: underline;
}

.confirmation-page .step3_create_signin {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-bottom: 30px;
}

@supports (display: grid) {
  .confirmation-page .step3_create_signin {
    margin-bottom: 0;
  }
}

.confirmation-page .step3_details .h3 {
  font-family: var(--font);
  font-size: 25px;
  font-weight: 800;
  color: #333;
}

.confirmation-page .step3 .step3Print {
  grid-column: -1 / -4;
  -ms-grid-row: 1;
  grid-row: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 32px;
  max-height: 32px;
  padding: 7px 20px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #979797;
  border-radius: 5px;
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
  color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@supports (display: grid) {
  .confirmation-page .step3 .step3Print {
    position: static;
  }
}

.confirmation-page .step3 .step3Print::before {
  content: url(https://stg.targetoptical.com/wcsstore/TargetOpticalStorefrontAssetStore/images/icons/print-icon.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.confirmation-page .step3 .step3Print:hover {
  text-decoration: none;
}

.confirmation-page .lockedExamSection {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

.confirmation-page .each-exam {
  position: relative;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 25px;
}

.confirmation-page .each-exam .examModuleContent.un_fleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (display: grid) {
  .confirmation-page .each-exam .examModuleContent.un_fleft {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 5fr) minmax(0, 6fr);
        grid-template-columns: minmax(0, 5fr) minmax(0, 6fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.confirmation-page + .each-exam {
  margin-top: 20px;
}

@supports (display: grid) {
  .confirmation-page + .each-exam {
    margin-top: 0;
  }
}

.confirmation-page .examModuleContentVert {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  border-right: 1px solid #999;
}

.confirmation-page .examModuleContentVert .h3 {
  margin-bottom: 20px;
  font-family: var(--font);
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.confirmation-page .examModuleContentVert .title {
  font-family: HelveticaNeueforTarget-Md;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.confirmation-page .examModuleContentVert .visit-information {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.confirmation-page .examModuleContentVert .visit-information .info {
  font-family: HelveticaNeueforTarget-Rm;
}

.confirmation-page .examModuleContentVert .visit-information .values {
  font-family: HelveticaNeueforTarget-Md;
}

.confirmation-page .examModuleContentVertRight {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  padding-left: 50px;
}

@supports (display: grid) {
  .confirmation-page .examModuleContentVertRight {
    padding-left: 0;
  }
}

.confirmation-page .examModuleContentVertRight .h3,
.confirmation-page .examContactInfoContentVert .h3 {
  margin-bottom: 20px;
  font-family: var(--font);
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.confirmation-page .examModuleContentVert ul,
.confirmation-page .examModuleContentVertRight ul,
.confirmation-page .examContactInfoContentVert ul {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  margin-top: 20px;
}

.confirmation-page .examModuleContentVert li + li,
.confirmation-page .examModuleContentVert input + li,
.confirmation-page .examModuleContentVertRight li + li,
.confirmation-page .examModuleContentVertRight input + li,
.confirmation-page .examContactInfoContentVert li + li,
.confirmation-page .examContactInfoContentVert input + li {
  margin-top: 20px;
}

@supports (display: grid) {
  .confirmation-page .examModuleContentVert li + li,
  .confirmation-page .examModuleContentVert input + li,
  .confirmation-page .examModuleContentVertRight li + li,
  .confirmation-page .examModuleContentVertRight input + li,
  .confirmation-page .examContactInfoContentVert li + li,
  .confirmation-page .examContactInfoContentVert input + li {
    margin-top: 0;
  }
}

.confirmation-page .examModuleContentVert li,
.confirmation-page .examModuleContentVertRight li,
.confirmation-page .examContactInfoContentVert li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.confirmation-page .examModuleContentVert li span:nth-child(1),
.confirmation-page .examModuleContentVertRight li span:nth-child(1),
.confirmation-page .examContactInfoContentVert li span:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 300;
}

.confirmation-page .examModuleContentVertRight li .firstName,
.confirmation-page .examContactInfoContentVert li .firstName {
  margin-right: 1rem;
}

.confirmation-page .examContactInfoContentVert li span:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.confirmation-page .examContactInfoContentVert li span.contact_info_sms {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
}

.confirmation-page .addtocalendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 32px;
  padding: 5px 19px;
  border: 1px solid #333;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.confirmation-page .addtocalendar .addtocalendartext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: #222;
}

.confirmation-page .addtocalendar .addtocalendartext:hover {
  text-decoration: none;
}

.confirmation-page .addtocalendar .addtocalendartext::before {
  content: url(https://stg.targetoptical.com/wcsstore/TargetOpticalStorefrontAssetStore/images/icons/date-range-icon.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.confirmation-page .clearfix::before,
.confirmation-page .clearfix::after {
  content: none;
}

.confirmation-page .getting-ready-for-visit {
  width: 100%;
}

.confirmation-page .getting-ready-for-visit .Please-do-not-wear-y {
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 32px;
}

.confirmation-page .getting-ready-for-visit .Please-do-not-wear-y p {
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.confirmation-page .getting-ready-for-visit .youTubeVideo {
  display: block;
}

.confirmation-page .getting-ready-content {
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.confirmation-page .getting-ready-content h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: var(--font);
  font-size: 25px;
  font-weight: 800;
  color: #333;
}

@supports (display: grid) {
  .confirmation-page .getting-ready-content h3 {
    margin-top: 0;
  }
}

.confirmation-page .getting-ready-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (display: grid) {
  .confirmation-page .getting-ready-content > div {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.confirmation-page .getting-ready-content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  row-gap: 20px;
}

@supports (display: grid) {
  .confirmation-page .getting-ready-content .box {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-rows: 100px 60px auto;
        grid-template-rows: 100px 60px auto;
  }
}

.confirmation-page .getting-ready-content .box > div {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97px;
  height: 97px;
}

.confirmation-page .getting-ready-content .box h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3em;
          flex: 0 0 3em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  font-family: var(--font);
  font-size: 22px;
  font-weight: 800;
  color: #333;
}

.confirmation-page .getting-ready-content .box p {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.confirmation-page .getting-ready-content .box p a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #ce0000;
}

.confirmation-page .getting-ready-content .box.icon1 > div {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20251.15%20245%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.%5C39%2051ea3fc-0679-4881-8210-67c4d3dbd627%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23333%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Ctitle%3ELC_Glasses_Contacts_Icon%3C%2Ftitle%3E%0A%20%20%3Cg%20id%3D%22d2a7c0b4-a615-4fa0-bf14-f07046152526%22%20data-name%3D%22Livello%202%22%3E%0A%20%20%20%20%3Cg%20id%3D%22b9338841-9c9f-42b1-b289-73f63f22db8e%22%20data-name%3D%22Livello%201%22%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%2290c1535b-189c-4ac9-ad67-39d402ef984a%22%20data-name%3D%22Livello%2012%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M92%2C243.87c-30.69%2C0-49.45-13.15-59.79-24.18C21%2C207.71%2C17.13%2C195.76%2C17%2C195.25a4%2C4%2C0%2C0%2C1%2C5.25-4.94c.26.1%2C27.29%2C10.31%2C68%2C10.31a314.54%2C314.54%2C0%2C0%2C0%2C38.37-2.32%2C4%2C4%2C0%2C0%2C1%2C1.11%2C7.92%2C322.54%2C322.54%2C0%2C0%2C1-39.4%2C2.4H90.2c-28.72%2C0-50.59-4.8-62-8a68.8%2C68.8%2C0%2C0%2C0%2C10.14%2C13.88C51.76%2C228.67%2C69.83%2C235.87%2C92%2C235.87c21.71%2C0%2C40.12-6.85%2C48.73-13.64a4%2C4%2C0%2C0%2C1%2C5%2C6.28C133.88%2C237.84%2C112.8%2C243.87%2C92%2C243.87Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M21.69%2C198.92a4%2C4%2C0%2C0%2C1-3.89-3.11c-.19-.8-.59-3.7%2C2.11-7.09%2C7.21-9.07%2C30.55-13.67%2C69.37-13.67h4.79c12%2C0%2C20.61%2C0%2C28.89.91a4%2C4%2C0%2C1%2C1-.9%2C8c-7.83-.88-16.28-.87-28-.86h-4.8c-57.91%2C0-63.27%2C10.6-63.6%2C11.49a4%2C4%2C0%2C0%2C1-3.08%2C4.27A4.11%2C4.11%2C0%2C0%2C1%2C21.69%2C198.92ZM25.6%2C194Zm0%2C0h0Zm0%2C0h0Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M195.19%2C245c-14.68%2C0-35.42-4.64-55.21-25.2-11.44-11.89-18.65-25.1-21.42-39.27a3.86%2C3.86%2C0%2C0%2C1-.06-.49%2C72.12%2C72.12%2C0%2C0%2C1%2C7.17-46.45%2C4%2C4%2C0%2C0%2C1%2C7.25.38c.1.26%2C10.74%2C26.27%2C38.38%2C55s53.56%2C42.2%2C53.81%2C42.33a4%2C4%2C0%2C0%2C1%2C.06%2C7.1A68.58%2C68.58%2C0%2C0%2C1%2C197.68%2C245C196.87%2C245%2C196%2C245%2C195.19%2C245Zm-68.68-65.52c2.54%2C12.45%2C9%2C24.15%2C19.23%2C34.77%2C27%2C28.08%2C55.37%2C24%2C68.39%2C19.95a253.9%2C253.9%2C0%2C0%2C1-48.59-39.7c-19.64-20.39-30.9-39.21-36.23-49.48a64.1%2C64.1%2C0%2C0%2C0-2.86%2C34A3%2C3%2C0%2C0%2C1%2C126.51%2C179.48Z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M226.44%2C237.71%2C220.8%2C232l-.13.14c.11-.13%2C10.55-14-30.66-59-40.67-44.36-58.47-35-58.63-34.84a4%2C4%2C0%2C1%2C1-4.65-6.51c2.25-1.6%2C23.23-14.17%2C69.18%2C35.94C242.63%2C218.78%2C228.24%2C235.92%2C226.44%2C237.71Z%22%2F%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M50.54%2C101.08A50.54%2C50.54%2C0%2C1%2C1%2C98.89%2C35.79h0a50.57%2C50.57%2C0%2C0%2C1-48.35%2C65.29ZM50.54%2C8a42.49%2C42.49%2C0%2C1%2C0%2C40.7%2C30.12A42.58%2C42.58%2C0%2C0%2C0%2C50.54%2C8Z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M100.18%2C55.42A4%2C4%2C0%2C0%2C1%2C98.07%2C48c16.71-10.38%2C30.83-9.79%2C39.73-7.46a40.18%2C40.18%2C0%2C0%2C1%2C15.76%2C7.89%2C4%2C4%2C0%2C0%2C1-5.35%2C5.95c-.8-.71-19-16.3-45.92.42A4%2C4%2C0%2C0%2C1%2C100.18%2C55.42Z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%22951ea3fc-0679-4881-8210-67c4d3dbd627%22%20d%3D%22M200.61%2C101.08A50.54%2C50.54%2C0%2C1%2C1%2C249%2C35.79h0a50.57%2C50.57%2C0%2C0%2C1-48.35%2C65.29Zm0-93.08a42.49%2C42.49%2C0%2C1%2C0%2C40.7%2C30.12A42.58%2C42.58%2C0%2C0%2C0%2C200.61%2C8Z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A) center no-repeat;
  width: 93px;
  height: 93px;
  padding: 0px 101px;
}

.confirmation-page .getting-ready-content .box.icon2 > div {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20272%20235.42%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.%5C38%20e769752-baa0-476d-8a8b-7cc67e3f2bc7%2C%20.e2c5185a-2359-416e-9390-fcf78105b9f0%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23333%3B%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20.e2c5185a-2359-416e-9390-fcf78105b9f0%20%7B%0A%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C%2Fstyle%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Ctitle%3ELC_Insurance_Icon%3C%2Ftitle%3E%0A%20%20%3Cg%20id%3D%22e6b27feb-9271-48fb-a247-7f5e4b07c402%22%20data-name%3D%22Livello%202%22%3E%0A%20%20%20%20%3Cg%20id%3D%22392141c6-6b39-41c7-aed2-ad1102664640%22%20data-name%3D%22Livello%201%22%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%228e769752-baa0-476d-8a8b-7cc67e3f2bc7%22%20d%3D%22M170%2C188.83a87.05%2C87.05%2C0%2C0%2C1-10.71-.74A238.88%2C238.88%2C0%2C0%2C1%2C116%2C177.65a4%2C4%2C0%2C1%2C1%2C2.69-7.53c19.85%2C7.09%2C41.38%2C10%2C41.6%2C10%2C10.82%2C1.35%2C19.09.58%2C22.08-2.06a3.32%2C3.32%2C0%2C0%2C0%2C1.18-2.75c0-5.73-6.3-13.08-20.37-16.6-11.75-2.93-38-12.15-39.12-12.54l-.28-.11c-17.87-7.86-33.44-7.88-43.36-6.51a59.12%2C59.12%2C0%2C0%2C0-17.53%2C4.93%2C4%2C4%2C0%2C0%2C1-3.72-7.08c1.2-.64%2C29.86-15.3%2C67.68%2C1.28%2C2.13.74%2C27.31%2C9.53%2C38.26%2C12.27%2C12.2%2C3%2C26.44%2C11.26%2C26.44%2C24.36a11.37%2C11.37%2C0%2C0%2C1-3.88%2C8.75C184.11%2C187.25%2C178.18%2C188.83%2C170%2C188.83Z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%228e769752-baa0-476d-8a8b-7cc67e3f2bc7%22%20d%3D%22M151.19%2C235.42a66.42%2C66.42%2C0%2C0%2C1-17.34-2.1C117.75%2C228.93%2C55.65%2C205%2C53%2C203.94l2.88-7.46c.64.25%2C64.35%2C24.84%2C80.06%2C29.13%2C14.94%2C4.07%2C33%2C0%2C33.15%2C0%2C36.88-9.23%2C85.47-36%2C94.36-42.55a20.83%2C20.83%2C0%2C0%2C0-2.69-3.38l-.12-.13c-5.6-6.11-20.05-8.26-40.68-6a234.47%2C234.47%2C0%2C0%2C0-31.39%2C5.73l-2.07-7.73c6.37-1.7%2C62.68-16.14%2C80%2C2.56%2C1.37%2C1.39%2C5.5%2C5.9%2C5.5%2C10.08%2C0%2C2.43-1%2C4-11.5%2C10.31-6.62%2C4-15.26%2C8.66-24.35%2C13.2-14.08%2C7-41.26%2C19.74-65.17%2C25.72A97.08%2C97.08%2C0%2C0%2C1%2C151.19%2C235.42ZM264.71%2C182Z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%228e769752-baa0-476d-8a8b-7cc67e3f2bc7%22%20d%3D%22M8.11%2C215.66a7.92%2C7.92%2C0%2C0%2C1-5.46-2.19A8.49%2C8.49%2C0%2C0%2C1%2C0%2C207.27v-87.8a8.43%2C8.43%2C0%2C0%2C1%2C3.23-6.7%2C7.92%2C7.92%2C0%2C0%2C1%2C6.83-1.44l40.83%2C10.35c8.63%2C2.19%2C14.42%2C10.83%2C13.47%2C20.1l-5.67%2C55.29c-.93%2C9.1-7.93%2C16.08-16.63%2C16.6l-33.47%2C2Zm0-96.57a.8.8%2C0%2C0%2C0-.11.38v87.8a.47.47%2C0%2C0%2C0%2C.16.4l33.42-2c4.78-.28%2C8.62-4.25%2C9.16-9.43L56.4%2C141c.55-5.35-2.67-10.31-7.48-11.53Z%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20class%3D%22e2c5185a-2359-416e-9390-fcf78105b9f0%22%20d%3D%22M229.4%2C22.79A4.31%2C4.31%2C0%2C0%2C1%2C230.8%2C26c0%2C74.81-49.81%2C95.57-51.94%2C96.42a4.33%2C4.33%2C0%2C0%2C1-1.62.32%2C4.42%2C4.42%2C0%2C0%2C1-2.25-.63C123.6%2C91.35%2C125.54%2C28.46%2C125.65%2C25.8A4.37%2C4.37%2C0%2C0%2C1%2C130%2C21.61c23.49%2C0%2C43.92-20.13%2C44.13-20.34A5%2C5%2C0%2C0%2C1%2C177.33%2C0a4.35%2C4.35%2C0%2C0%2C1%2C3.12%2C1.41c.21.22%2C20.76%2C22%2C45.67%2C20.21A4.27%2C4.27%2C0%2C0%2C1%2C229.4%2C22.79Zm-51.85%2C90.62c8.66-4.32%2C42.77-25%2C44.45-83-21.18-.46-38.14-13.87-44.87-20.08-6.72%2C5.77-23.16%2C18.11-42.7%2C19.79C134.93%2C43.85%2C139.54%2C89.26%2C177.55%2C113.41Z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A) center no-repeat;
  width: 93px;
  height: 93px;
  padding: 0 98px;
}

.confirmation-page .getting-ready-content .box.icon3 > div {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='93' height='93' viewBox='0 0 93 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M36.8269 26.1225C38.6905 32.233 36.4365 38.8536 31.2364 42.5432C26.0364 46.2329 19.0638 46.1588 13.9427 42.3596C8.82167 38.5604 6.70781 31.8934 8.69985 25.8239C10.6919 19.7543 16.3403 15.6519 22.7092 15.6489C29.1974 15.649 34.9255 19.8985 36.8269 26.1225Z' fill='%23333333'/%3e%3cpath d='M36.8269 26.1225C38.6905 32.233 36.4365 38.8536 31.2364 42.5432C26.0364 46.2329 19.0638 46.1588 13.9427 42.3596C8.82167 38.5604 6.70781 31.8934 8.69985 25.8239C10.6919 19.7543 16.3403 15.6519 22.7092 15.6489C29.1974 15.649 34.9255 19.8985 36.8269 26.1225' stroke='%23333333' stroke-width='2.04082'/%3e%3cpath d='M54.5254 30.734C54.5254 30.734 47.9648 24.8022 38.4497 30.734' stroke='%23333333' stroke-width='2.44898' stroke-linecap='round'/%3e%3cpath d='M84.4055 26.1225C86.2692 32.2333 84.0149 38.8542 78.8144 42.5437C73.6139 46.2332 66.641 46.1586 61.5201 42.3587C56.3992 38.5588 54.2861 31.8911 56.2792 25.8216C58.2723 19.7521 63.9218 15.6505 70.291 15.6489C76.778 15.6504 82.5044 19.8996 84.4055 26.1225Z' fill='%23333333'/%3e%3cpath d='M84.4055 26.1225C86.2692 32.2333 84.0149 38.8542 78.8144 42.5437C73.6139 46.2332 66.641 46.1586 61.5201 42.3587C56.3992 38.5588 54.2861 31.8911 56.2792 25.8216C58.2723 19.7521 63.9218 15.6505 70.291 15.6489C76.778 15.6504 82.5044 19.8996 84.4055 26.1225' stroke='%23333333' stroke-width='2.04082'/%3e%3cpath d='M56.2207 65.3288C56.2207 65.3288 65.5081 64.2941 65.5081 56.5278V82.15' stroke='%23333333' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M36.3051 65.2842V82.1498' stroke='%23333333' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M27.9004 73.7168H44.71' stroke='%23333333' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") center no-repeat;
  width: 90px;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 0 101px;
}

.confirmation-page .step3Bottom {
  margin-top: 20px;
}

@supports (display: grid) {
  .confirmation-page .step3Bottom {
    margin-top: 0;
  }
}

.confirmation-page .step3Bottom h2 {
  display: none;
  font-family: var(--font);
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: #333;
}

/* -----------------------------------------------------------------------------*/
/* 23. END APPOINTMENT CONFIRMATION
/* -----------------------------------------------------------------------------*/
/*# sourceMappingURL=exam-confirmation-page.css.map */