/* One Click Reorder */
.ocr-login-container {
  border: 0.6px solid #326fa8;
  margin: 20px;
  padding: 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* PLP rules */
}

.ocr-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title {
  font: 19px FuturaBQLight, Arial, Helvetica, sans-serif;
  color: #326fa8;
  margin-bottom: 10px;
}

.ocr-login-container .ocr-login-content.ocr-guest-content .ocr-button {
  width: 176px;
}

.ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-title {
  font: 18px FuturaBQLight, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-desc {
  font: 16px FuturaBQMedium, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.ocr-login-container.ocr-plp-login-container {
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 0;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title {
  margin-bottom: 5px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title.ocr-contacts-icon::before {
  width: 34px;
  height: 19px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-desc {
  color: #333333;
  font-family: HelveticaNeueforTarget-Lt;
  font-size: 15px;
  margin-bottom: 5px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-button {
}

.ocr-button {
  display: inline-block;
  font: 13px FuturaBQBook, Arial, Helvetica, sans-serif;
  color: white !important;
  background-color: #326fa8;
  padding: 8px;
  text-align: center;
}


.ocr-accordion.ocr-plp-accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 10px;
}

.ocr-accordion.ocr-plp-accordion .ocr-accordion-header {
  font-family: HelveticaNeueforTarget-Bd;
  font-size: 16px;
  display: block;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: 700;
  margin-left: 20px;
}

.ocr-accordion.ocr-plp-accordion .ocr-accordion-subtitle {
   font-family: HelveticaNeueforTarget-Lt;
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #3a3a3a;
   margin-left: 20px;
   width: 219px;
}

.ocr-accordion.ocr-plp-accordion .ocr-accordion-header.ocr-accordion-toggle::after {
  content: '>';
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  -webkit-transform: rotate(90deg) scaleX(0.5);
          transform: rotate(90deg) scaleX(0.5);
  float: right;
  font-size: 24px;
  margin-top: -5px;
}

.ocr-accordion .ocr-accordion-header.ocr-accordion-toggle.open::after {
  content: '>';
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  -webkit-transform: rotate(-90deg) scaleX(0.5);
          transform: rotate(-90deg) scaleX(0.5);
}

.ocr-accordion.ocr-plp-accordion .ocr-accordion-content {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.ocr-accordion .ocr-accordion-content .ocr-accordion-title {
  font: 20px FuturaBQLight, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.ocr-accordion .ocr-accordion-content .ocr-accordion-desc {
  font: 20px FuturaBQMedium, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.ocr-accordion.ocr-plp-accordion .ocr-accordion-content .ocr-button.ocr-reorder-all {
  width: 156px;
  font-size: 14px;
  padding: 10px;
  background-color: #cc0000;
  font-family: HelveticaNeueforTarget-Rm!important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel .ocr-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel.ocr-plp-carousel .ocr-product img.ocr-product-image {
  max-width: 180px!important;
  max-height: 80px;
  margin-top: 10%;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel .ocr-product .ocr-product-name {
  color: #333333;
  font-family: HelveticaNeueforTarget-Md;
  font-size: 15px;
  text-align: initial;
  margin-bottom: 10px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel .ocr-product .ocr-product-qty {
  color: #333333;
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 13px;
  text-align: initial;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel .ocr-product .ocr-product-price {
  color: #5a5a5a;
  font-family: HelveticaNeueforTarget-Bd;
  font-size: 18px;
  text-align: end;
  margin-top: -25px;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-listprice {
  margin-right: 5px;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-listprice.strikethrough {
  font: 10px FuturaBQMedium, Arial, Helvetica, sans-serif;
  text-decoration: line-through;
  margin-right: 5px;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-offerprice {
  color: #cf0a2c;
  margin-right: 5px;
}

.ocr-accordion .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-per-box {
  font-size: 10px;
  text-transform: uppercase;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav {
  position: relative;
  width: 280px;
  color: #333333;
  font: 16px HelveticaNeueforTarget-Md;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-prev {
  left: 0;
  z-index: 1;
  background-image:none!important;
  margin-top: -200px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-next {
  right: 0;
  background-image: none!important;
  margin-top: -200px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-prev::before,
.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-next::before {
  display: inline-block;
  color: #2f2f2f;
  font: 16px HelveticaNeueforTarget-Md;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-prev::before {
  content: '<';
  font-size: 30px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-next::before {
  content: '>';
  font-size: 30px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .ocr-carousel-paging {
  position: relative;
  font-family: HelveticaNeueforTarget-Md;
  font-size: 10px;
  float: left;
  margin-top: -120px;
  margin-left: 70px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .ocr-carousel-current {
   font-family: HelveticaNeueforTarget-Md;
  font-size: 10px;
}


.ocr-plp-carousel .ocr-image-container {
    background-color: white;
    width: 305px;
   height: 154px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-button.register {
  border: solid 1px #cc0000;
  background-color: #ffffff;
  color: #cc0000!important;
  margin-left: 30px!important;
  }



/*FINE PLP*/




/* One Click Reorder */
.ocr-login-container {
  border: 0.6px solid #326fa8;
  margin: 20px;
  padding: 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* PLP rules */
}

.flexbrand.ocr{
  
margin-top: 15px;
  
margin-bottom: 30px;
  
padding: 5px 20px 15px;
  
background-color: #f2f2f2;
}

#header-espot.ocr-espot {
    padding: 30px 0px;
}

.ocr-espot #title-plp-shop-mobile{
  padding-left:20px;
}

.ocr-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title {
  margin-bottom: 10px;
}

.ocr-login-container .ocr-login-content.ocr-guest-content .ocr-button.register {border: solid 1px #cc0000;background-color: #ffffff;color: #cc0000;margin-left: 30px!important;}

.ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-title, .ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-title-first {
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 2.2px;
  color: #362f2e;
  text-align: initial;
  margin-left: 20px;
  margin-top:5px;
}

.ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-title-first {
  font-family: HelveticaNeueforTarget-Bd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.ocr-login-container .ocr-login-content.ocr-start-content .ocr-start-desc {
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #362f2e;;
  text-align: initial;
  margin-left: 20px;
  margin-top:5px;
  max-width:318px;
}

.ocr-login-container.ocr-plp-login-container {
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 0;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title {
  font-family: HelveticaNeueforTarget-Bd;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  width: 258px;
  text-align: initial;
  margin-left: 20px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title.ocr-contacts-icon::before {
  width: 34px;
  height: 19px;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-desc {
  width: 240px;
  height: 36px;
  font-family: HelveticaNeueforTarget-Lt;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a3a3a;
  margin-left: 20px;
  text-align: left;
}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-button {
  display: inline-block;
  padding-top: 10px;
  width: 120px;
  float: left;
  margin-left: 20px;
}

.ocr-button {
  width: 152px;
  height: 40px;
  border-radius: 17.5px;
  background-color: #cc0000;
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#collapse-reorder {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 10px;
  background-color: #f2f2f2;
  width: 100%;
}

#collapse-reorder .ocr-accordion-header {
  font: 16px HelveticaNeueforTarget-Bd;
  background-color: #f2f2f2;
  display: block;
  text-align: left;
  padding: 16px;
  margin-left: 30px;
}

#collapse-reorder .ocr-accordion-subtitle {
   font-family: HelveticaNeueforTarget-Lt;
   font-size: 12px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #3a3a3a;
   width: 219px;
   padding: 0 0 16px 16px;
   margin-left: 30px;
   background-color: #f2f2f2;
}



#collapse-reorder .ocr-accordion-header.ocr-accordion-toggle::after {
  content: '>';
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: rotate(90deg) scaleX(0.5);
  transform: rotate(90deg) scaleX(0.5);
  float: right;
  font-size: 25px;
  height: 20px;
}

#collapse-reorder .ocr-accordion-header.ocr-accordion-toggle.open::after {
  content: '>';
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transform: rotate(-90deg) scaleX(0.5);
  transform: rotate(-90deg) scaleX(0.5);
}

#collapse-reorder .ocr-accordion-content {
  text-align: center;
  padding: 20px;
}

#collapse-reorder .ocr-accordion-content .ocr-accordion-title {
  font: 20px HelveticaNeueforTarget-Bd;
  line-height: 1.5;
}

#collapse-reorder .ocr-accordion-content .ocr-accordion-title.ocr-title-noOrd {
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 22px;
  line-height: 1.5;
  text-align: initial;
}

#collapse-reorder .ocr-accordion-content .ocr-accordion-desc {
  font: 20px HelveticaNeueforTarget-Bd;
  line-height: 1.5;
}

#collapse-reorder .ocr-accordion-content .ocr-accordion-desc.ocr-desc-noOrd {
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 16px;
  line-height: 1.5;
  text-align: initial;
}

#collapse-reorder .ocr-accordion-content .ocr-button.ocr-reorder-all {
  width: 156px;
  font-size: 14px;
  padding: 10px;
}

#collapse-reorder .ocr-accordion-content .ocr-button.ocr-reorder-all.ocr-reorder-btn-shopCL {
  width: 192px;
  margin-top: 10px;
  float: left;
}


#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product img.ocr-product-image {
  max-width: 190px!important;
  max-height: 90px;
  /* margin: 30px 64px; */
  -o-object-fit: contain;
  object-fit: contain;
  display: inline-block;
  margin-top: 22px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-name {
  color: #333333;
  font: 16px HelveticaNeueforTarget-Bd;
  text-align: center;
  margin-top: 25px;
  width: 50vw;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-qty {
  color: #333333;
  font-family: HelveticaNeueforTarget-Rm;
  font-size: 13px;
  margin: 10px auto;
  text-align: center;
  width: 115px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price {
  color: #5a5a5a;
  font: 15px HelveticaNeueforTarget-Bd;
  text-align: right!important;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-listprice {
  margin-right: 5px;
  color: #333333;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-listprice.strikethrough {
  font: 10px HelveticaNeueforTarget-Bd;
  text-decoration: line-through;
  margin-right: 5px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-offerprice {
  color: #cf0a2c;
  margin-right: 5px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel .ocr-product .ocr-product-price .ocr-product-per-box {
  font-size: 10px;
  text-transform: uppercase;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav {
  position: inherit;
  width: 140px;
  color: #333333;
  font: 16px HelveticaNeueforTarget-Bd;
  margin: 20px auto;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-prev {
  left: 50px;
  z-index: 1;
  position: absolute;
  /* margin-top: 100px; */
  background-image: none!important;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-next {
  right: 50px;
  background-image: none!important;
  /* margin-top: 100px; */
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-prev::before,
#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-next::before {
  display: inline-block;
  color: #2f2f2f;
  font: 16px HelveticaNeueforTarget-Bd;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-prev::before {
  content: '<';
  font-size: 30px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .slick-next::before {
  content: '>';
  font-size: 30px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .ocr-carousel-paging {
  position: absolute;
  margin-top: -7px;
  align-content: center;
  font-family: HelveticaNeueforTarget-Md;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-left: 7px;
}

#collapse-reorder .ocr-carousel-container .ocr-carousel-nav .progress.w-100 {

width: 90px!important;

margin-left: 40px;
}

.ocr-image-container {
    background-color: white;
    width: 305px;
   height: 154px;
}

.ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav-container {
    position: initial;
    width: auto;
}
.ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .progress.w-100{
    margin-top: -113px;
    position: absolute;
    max-width: 90px;
    align-content: center;
    margin-left: 113px;
}

.ocr-carousel-container.ocr-plp-carousel-container #cl-info{
  width:100%;
  font-family: HelveticaNeueforTarget-Md;
  font-size: 15px;
  margin-top: 20px;
  float: left;
  display: grid;
  margin-bottom: 10px;
}

.ocr-log-reg-container{
  height:40px;
  width: 100%;
  margin-top: 10px;
}

.flexbrand.flexbrand-container {
    float: left;
    margin-top: 30px;
    padding: 0px!important;
    background-color: white!important;
    width: 100%;
}
.x-ocr-content{
  display: inline-flex;
  width: 100%;
}
.x-ocr-content .x-ocr-content-part1{
  margin-left:10px;
}
.x-ocr-content .x-ocr-content-part2{
  margin-left:5px;
}
.x-ocr-content .x-ocr-content-part1:after,.x-ocr-content .x-ocr-content-part2:after{
  content:'.';
}
.x-ocr-content .x-ocr-content-part3{
  float: right;
  margin-left: 40px;
}

@media screen and (device-aspect-ratio: 40/71) {
.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-title{
	margin-left: 0 !important;
	}

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-guest-desc{
	margin-left: 0 !important;
	}
	
.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-button{
	margin-left: 0 !important;
	}	

.ocr-login-container.ocr-plp-login-container .ocr-login-content.ocr-guest-content .ocr-button.register{
	margin-left: 10px !important;
	}
	
.x-ocr-content .x-ocr-content-part3{
  float: right;
  margin-left: 10px;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .slick-next{
    right: 40px !important;
}

.ocr-accordion .ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .ocr-carousel-paging{
	    margin-left: 50px !important;
	    margin-top: -130px !important;
}

.ocr-carousel-container.ocr-plp-carousel-container .ocr-carousel-nav .progress.w-100{
	margin-top: -124px !important;
	margin-left: 90px !important;
}
		
}