//Variabili che comprendono font family, color palette, font size (base, sm, md, lg...), line-height, breakpoint, container...

//size of padding-right and padding-left
$gutter-x: 2rem; //32px
$gutter-y: 0; //0px

//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//font-family
$first-font: "DM Sans",sans-serif;
$second-font: "DM Sans",sans-serif;

//font-size
$font-xxxl: 4rem; // 64px
$font-xxl: 2.5rem; // 40px
$font-xl: 2rem; // 32px
$font-l: 1.5rem; // 24px
$font-m: 1.25rem; // 20px
$font-s: 1.125rem; // 18px
$font-xs: 1rem; // 16px
$font-xxs: 0.875rem; // 14px
$font-xxxs: 0.75rem; // 12px

//font-weight for p, a, ul, ol
$text-bold: 700;

//letter-spacing
$heading-letter-spacing: normal;
$text-letter-spacing: normal;

//line-height
$heading-line-height: 1.2;
$text-line-height: 1.5;

//text-transform
$heading-text-transform: none;

//colors
$dark: #000;
$black: #333;
$gray-ultra-light: #F2F4F5;
$gray-light: #F6f6f6;
$gray: #DDE1E3;

$white: #fff;
$violet: #575d9b;
$violet-light:#EFF5FF;

//border for elements (optional to use)
$border-width: 1px;
$border-style: solid;
$border-color-1: $black;

//border-radius
$border-radius-1: 17px;
$border-radius-2: 8px;

//box-shadow
$box-shadow-1: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);

//cta
$cta-height: 40px;
