.ct_space {
    
  .ct_space * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // layout
  .d-flex {
    display: flex;
  }

  .d-flex-row {
    display: flex;
    flex-direction: row;
  }

  .d-flex-column{
    flex-direction: column;
  }

  .d-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .w-50 {
    width: 50%;
  }

  @media(max-width: $mob){
    .d-flex-mob-row{
      flex-direction: row;
    }
    .d-flex-mob-column{
      flex-direction: column;
    }
    .w-mob-50{
      width: 50%;
    }
    .w-mob-100{
      width: 100%;
    }
  }

  // cta
  .ct_cta {
    text-align: center;
    border-radius: 40px;
    padding: 9px 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    height: 40px;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    white-space: nowrap;
    //COLOR VARIANT
    &.ct_cta__black {
      background-color: $black;
      color: #fff;
      border: 1px solid black;
      @media (min-width: 1025px) {
        &:hover,
        &:focus {
          background-color: $black_hover;
          border-color: $black_hover;
        }
      }
      @media (max-width: 1024px) {
        &:active {
          background-color: $black_hover;
          border-color: $black_hover;
        }
      }
    }
    &.ct_cta__white {
      background-color: #fff;
      color: $black;
      border: 1px solid black;
      @media (min-width: 1025px) {
        &:hover,
        &:focus {
          background-color: $black_hover;
          border-color: $black_hover;
          color: #fff;
        }
      }
      @media (max-width: 1024px) {
        &:active {
          background-color: $black_hover;
          border-color: $black_hover;
          color: #fff;
        }
      }
    }

    // LENGTH VARIANTS
    &.ct_cta__large {
      min-width: 180px;
    }
  }

  // image
  img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:50% 50%;
  }

  // Text
  h1{
    margin: 0;
  }

}
