@import "variables";
@import "resetLP";
@import "utils";
@import "./modules/locomotive";
@import "./modules/drag";
@import "./modules/slick";
@import "./modules/video";


$headerHight: 95px;
$headerHightMob: 60px;

.ct_space {
  overflow-x: hidden;
  position: relative;

  #section-lens {
    color: #fff;
    background-color: #222222;

    h1 {
      text-align: left;
      font-size: 100px;
      font-weight: 300;
    }

    .section-lens__container {
      text-align: left;
      padding: 5% 12%;
      width: 30%;
    }

    @media(max-width: $mob){
      h1{
        font-size: 50px;
      }
      .section-lens__container {
        padding: 60px 30px;
        width: 60%;
      }
    }

  }

  #section-benefits{
    .ct_benefits_container {
      height: calc(400vh - $headerHight*4);
      position: relative;

      @media(max-width: $mob){
        height: calc(400vh - $headerHightMob*4);
      }
    
      .ct_title {
        height: calc(100vh - $headerHight);
        width: 50%;
        position: relative;
        //position: absolute;
        top: 0;

        h1{
          font-size: 100px;
          font-weight: 300;
          left: 24%;
          position: absolute;
          top: 50%;
          transform: translate(0px, -50%);

        }
        @media (max-width: $mob) {
          height: calc(100vh - $headerHightMob);

          h1{
            font-size: 50px;
            top: 15%;
          }
        }
      }

      .ct_benefits_item {
        font-size: 32px;
        font-weight: 300;
        width: 50%;
        height: calc(100vh - $headerHight);
        position: absolute;

        @media (max-width: $mob) {
          font-size: 24px;
          width: 100%;
          height: calc(100vh - $headerHightMob);
        }

        .item{
          opacity: 0.1;
          display: flex;
          align-items: center;

          span{
            padding-left: 20px;
          }

          @media (max-width: $mob) {
            left: 10%;
          }
        }
      }
    
      #benefits-item-01 {
        top: calc(100vh - $headerHight);
        right: 0px;

        @media (max-width: $mob) {
          top: calc(100vh - $headerHightMob);
        }
        .item{
          height: fit-content;
          position: absolute;
          bottom: calc(50% + 150px);
          transform: translate(0, 50%);
        }
      }
    
      #benefits-item-02 {
        top: calc(150vh - $headerHight);
        right: 0px;

        @media (max-width: $mob) {
          top: calc(150vh - $headerHightMob);
        }

        .item{
          height: fit-content;
          position: absolute;
          bottom: calc(50% + 50px);
          transform: translate(0, 50%);
        }
      }
    
      #benefits-item-03 {
        top: calc(200vh - $headerHight);
        right: 0px;

        @media (max-width: $mob) {
          top: calc(200vh - $headerHightMob);
        }

        .item{
          height: fit-content;
          position: absolute;
          bottom: calc(50% - 50px);
          transform: translate(0, 50%);
        }
      }
    
      #benefits-item-04 {
        top: calc(250vh - $headerHight);
        right: 0px;

        @media (max-width: $mob) {
          top: calc(250vh - $headerHightMob);
        }

        .item{
          height: fit-content;
          position: absolute;
          bottom: calc(50% - 150px);
          transform: translate(0, 50%);
        }
      }

      .ct_lens {
        position: absolute;
        right: 0px;
        transform: translateX(600px);
        top: -150px;
        height: 300px;
        width: 300px;
        position: absolute;
        z-index: 999;
        border-radius: 50%;
      }
    }
  }

  #section-best-usage {
    height: auto;
    position: relative;

    .ct_wrapper__clipbox{
      width: 50%;
      @media (max-width: $mob) {
        width: 100%;
      }
    }

    .ct_wrapper__carousel{
      width: 50%;
      z-index: 999;
    }
    .ct_carousel__title {
      position: absolute;
      top: 68px;
      left: calc(50% + 30px);
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      z-index: 2;
    }
    
    @media (max-width: $mob) {
      .ct_wrapper__carousel{
        position: relative;
        width: 100%;
        
        .ct_carousel__title{
          top: 24px;
          left: 30px;
        }
      }
    }
  }

  #section-find-style{
    .ct_container{
      position: relative;

      .ct_assets__container{
          img:not(.ct_skeleton) {
            position: absolute;
            left: 0;
            top: 0;
          } 
          img{
            width: 100%;
            height: auto;
            display: block;
          }
        }
      .ct_text__overlay{
        position: absolute;
        top: 50%;
        padding: 0px 60px;
        max-width: 60%;
        z-index: 9;
        transform: translate(0, -50%);

        h1{
          font-size: 60px;
          font-weight: 300;
          width: 60%;
        }
        @media (max-width: $mob) {
          flex-direction: column;
          max-width: 100%;
          top: 80px;
          transform: translate(0,0);

          h1{
            font-size: 50px;
            width: 100%;
          }
        }
      }
    }
  }
}

//locomotive class
.ct_ls__fixed {
  position: fixed !important;
  //animation: smoothScroll 1s forwards;
  // -webkit-transition: position 0.5s linear;
  // -moz-transition: position 0.5s linear;
  // -o-transition: position 0.5s linear;
  // transition: position 0.5s linear;
}

.ct_ls__top {
  top: $headerHight !important;

  @media (max-width: $mob) {
      top: $headerHightMob !important;
  }
}

.ct_ls__bottom {
  bottom: 0 !important;
  top: auto !important;
  position: absolute !important;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(0px);
	}
}
// img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: 50% 50%;
// }
