.ct_space .ct_cta {
  text-align: center;
  border-radius: 40px;
  padding: 9px 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.ct_space .ct_cta.ct_cta__black {
  background-color: #222;
  color: #fff;
  border: 1px solid black;
}

@media (min-width: 1025px) {
  .ct_space .ct_cta.ct_cta__black:hover, .ct_space .ct_cta.ct_cta__black:focus {
    background-color: #555;
    border-color: #555;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_cta.ct_cta__black:active {
    background-color: #555;
    border-color: #555;
  }
}

.ct_space .ct_cta.ct_cta__white {
  background-color: #fff;
  color: #222;
  border: 1px solid black;
}

@media (min-width: 1025px) {
  .ct_space .ct_cta.ct_cta__white:hover, .ct_space .ct_cta.ct_cta__white:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_cta.ct_cta__white:active {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
}

.ct_space .ct_cta.ct_cta__large {
  min-width: 180px;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.ct_space .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ct_space .d-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ct_space .d-flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ct_space .ct_text__white {
  color: #fff;
}

.ct_space #section-lens {
  color: #fff;
  background-color: #222222;
}

.ct_space #section-lens h1 {
  text-align: left;
  font-size: 100px;
  font-weight: 300;
  margin: 0;
}

.ct_space #section-lens .section-lens__container {
  text-align: left;
  padding: 5%;
  width: 30%;
}

.ct_space #section-hero {
  height: 320px;
  background-color: #fbc7fb;
}

.ct_space #lens {
  position: absolute;
  right: 0px;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  top: -150px;
}

.ct_space .ct_ls__fixed {
  position: fixed !important;
}

.ct_space .ct_ls__bottom {
  bottom: 0 !important;
  top: auto !important;
  position: absolute !important;
}

.ct_space #benefits {
  height: 500vh;
  background-color: #ccc;
  position: relative;
}

.ct_space #benefits h1 {
  font-size: 100px;
  font-weight: 300;
}

.ct_space #benefits .ct_title {
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
}

.ct_space #benefits .benefits-item {
  font-size: 32px;
  font-weight: 300;
}

.ct_space #benefits .benefits-item-01 {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0px;
  width: 50%;
}

.ct_space #benefits .benefits-item-02 {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0px;
  width: 50%;
}

.ct_space #benefits .benefits-item-03 {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0px;
  width: 50%;
}

.ct_space #benefits .benefits-item-04 {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0px;
  width: 50%;
}

.ct_space #benefits #item-01 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: .1;
}

.ct_space #benefits #item-02 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0%;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: .1;
}

.ct_space #benefits #item-03 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0%;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: .1;
}

.ct_space #benefits #item-04 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0%;
  opacity: .1;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.ct_space #benefits .ct_title h1 {
  position: absolute;
  top: 50%;
  margin: 0;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.ct_space #benefits .section-benefits-content .benefits-item {
  font-size: 32px;
  font-weight: 300;
}

.lens-right {
  height: 300px;
  width: 300px;
  background-color: #ddd;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  top: -150px;
  right: -300px;
}
/*# sourceMappingURL=new.css.map */