.ct_space .ct_cta {
  text-align: center;
  border-radius: 40px;
  padding: 9px 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .6s;
  transition: all .6s;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}

.ct_space .ct_cta.ct_cta__black {
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
}

@media (min-width: 1025px) {
  .ct_space .ct_cta.ct_cta__black:hover {
    background-color: #555;
    border-color: #555;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_cta.ct_cta__black:active {
    background-color: #555;
    border-color: #555;
  }
}

.ct_space .ct_cta.ct_cta__white {
  background-color: #fff;
  color: #222;
  border: 1px solid black;
}

@media (min-width: 1025px) {
  .ct_space .ct_cta.ct_cta__white:hover, .ct_space .ct_cta.ct_cta__white:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_cta.ct_cta__white:active {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
}

.ct_space .ct_cta.ct_cta__large {
  min-width: 180px;
}

.ct_space .ct_hero__container {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: calc(200px - 6vw);
}

@media (max-width: 1024px) {
  .ct_space .ct_hero__container {
    padding-bottom: 0vw;
  }
}

@media (max-width: 380px) {
  .ct_space .ct_hero__container {
    padding-bottom: 40px;
  }
}

.ct_space .ct_hero__container .ct_hero__skeleton {
  width: 100%;
  height: auto;
}

.ct_space .ct_hero__container .ct_hero__text {
  width: 100%;
  text-align: center;
  padding: 40px 0 30px 0;
}

@media (max-width: 1024px) {
  .ct_space .ct_hero__container .ct_hero__text {
    padding: 20px 0 10px 0;
  }
}

.ct_space .ct_hero__container .ct_hero__text h1 {
  font-size: 16px;
  color: #222;
  text-align: center;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: "Helvetica Neue";
}

.ct_space .ct_hero__container .ct_hero__text p {
  text-align: center;
}

.ct_space .ct_hero__container .ct_hero__sliders {
  position: relative;
}

.ct_space .ct_hero__container .slider-images {
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.ct_space .ct_hero__container .slider-images:not(.slick-initialized) {
  opacity: 0;
}

.ct_space .ct_hero__container .slider-images .slick-slide {
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  padding: 75px 0 150px 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: scale(1.1) translateY(85px);
          transform: scale(1.1) translateY(85px);
}

@media (max-width: 1024px) {
  .ct_space .ct_hero__container .slider-images .slick-slide {
    -webkit-transform: scale(1.1) translateY(20px);
            transform: scale(1.1) translateY(20px);
    padding: 100px 0 150px 0;
  }
}

@media (max-width: 767px) {
  .ct_space .ct_hero__container .slider-images .slick-slide {
    padding: 60px 0 150px 0;
  }
}

.ct_space .ct_hero__container .slider-images .slick-slide.slick-center, .ct_space .ct_hero__container .slider-images .slick-slide.slick-current, .ct_space .ct_hero__container .slider-images .slick-slide.slick-active, .ct_space .ct_hero__container .slider-images .slick-slide.slick-target {
  -webkit-filter: blur(0) !important;
          filter: blur(0) !important;
  -webkit-transform: scale(1.3) translateY(0px) !important;
          transform: scale(1.3) translateY(0px) !important;
}

.ct_space .ct_hero__container .slider-images .slick-slide.slick-center .shadow, .ct_space .ct_hero__container .slider-images .slick-slide.slick-current .shadow, .ct_space .ct_hero__container .slider-images .slick-slide.slick-active .shadow, .ct_space .ct_hero__container .slider-images .slick-slide.slick-target .shadow {
  -webkit-transform: translateX(-50%) scale(1) !important;
          transform: translateX(-50%) scale(1) !important;
}

@media (min-width: 1800px) {
  .ct_space .ct_hero__container .slider-images .slick-slide.slick-center, .ct_space .ct_hero__container .slider-images .slick-slide.slick-current, .ct_space .ct_hero__container .slider-images .slick-slide.slick-active, .ct_space .ct_hero__container .slider-images .slick-slide.slick-target {
    -webkit-transform: scale(1.25) translateY(0px) !important;
            transform: scale(1.25) translateY(0px) !important;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_hero__container .slider-images .slick-slide.slick-center, .ct_space .ct_hero__container .slider-images .slick-slide.slick-current, .ct_space .ct_hero__container .slider-images .slick-slide.slick-active, .ct_space .ct_hero__container .slider-images .slick-slide.slick-target {
    -webkit-transform: scale(1.5) translateY(0px) !important;
            transform: scale(1.5) translateY(0px) !important;
  }
}

.ct_space .ct_hero__container .slider-images .slick-slide .image {
  position: relative;
}

.ct_space .ct_hero__container .slider-images .slick-slide .image img {
  width: 60%;
  margin: auto;
  height: auto;
  display: block;
}

.ct_space .ct_hero__container .slider-images .slick-slide .image img:not(.shadow) {
  z-index: 1;
}

.ct_space .ct_hero__container .slider-images .slick-slide .image .shadow {
  z-index: -1;
  position: absolute;
  top: 1%;
  width: 65%;
  left: 50%;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}

.ct_space .ct_hero__container .ct_slider__controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: rgba(34, 34, 34, 0.4);
  border: none;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  -webkit-backdrop-filter: 5px;
          backdrop-filter: 5px;
  opacity: 1;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .ct_space .ct_hero__container .ct_slider__controls {
    opacity: 1;
  }
  .ct_space .ct_hero__container .ct_slider__controls:active {
    background-color: #555;
  }
}

@media (min-width: 1025px) {
  .ct_space .ct_hero__container .ct_slider__controls:focus {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .ct_space .ct_hero__container .ct_slider__controls:hover {
    background-color: #555;
  }
}

.ct_space .ct_hero__container .ct_slider__controls.ct__playing svg.ct_play {
  display: none;
}

.ct_space .ct_hero__container .ct_slider__controls.ct__playing svg.ct_pause {
  display: block;
}

.ct_space .ct_hero__container .ct_slider__controls svg {
  color: #F7F7F7;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ct_space .ct_hero__container .ct_slider__controls svg.ct_play {
  display: block;
}

.ct_space .ct_hero__container .ct_slider__controls svg.ct_pause {
  display: none;
}

@-webkit-keyframes levitateFrame {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  30% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  70% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  90% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes levitateFrame {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  30% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  70% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  90% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes levitateShadow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes levitateShadow {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.ct_space .slider-text {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-top: -5%;
  top: 60%;
  pointer-events: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

@media (max-width: 1024px) {
  .ct_space .slider-text {
    top: 42vw;
  }
}

.ct_space .slider-text:not(.slick-initialized) {
  opacity: 0;
}

.ct_space .slider-text .slick-list,
.ct_space .slider-text .slick-track,
.ct_space .slider-text .slick-slide {
  height: 100%;
}

.ct_space .slider-text .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ct_space .slider-text .slick-slide .text {
  width: 100%;
  text-align: center;
}

.ct_space .slider-text .slick-slide .text h3 {
  font-size: 8.5vw;
  font-weight: 300;
  color: #222;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.ct_space .slider-text .slick-slide .text p {
  font-size: 16px;
  width: 30vw;
  min-height: 140px;
  height: 140px;
  font-weight: 400;
  color: #555;
  padding-top: 5.5vw;
  line-height: 1;
  pointer-events: all;
  text-align: center;
  margin: auto;
}

@media (max-width: 1440px) {
  .ct_space .slider-text .slick-slide .text p {
    padding-top: 7.5vw;
  }
}

@media (max-width: 1280px) {
  .ct_space .slider-text .slick-slide .text p {
    padding-top: 8.5vw;
  }
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-slide .text p {
    padding-top: 9.5vw;
    font-size: 16px;
    width: 70%;
    min-height: 110px;
    height: 110px;
  }
}

@media (max-width: 767px) {
  .ct_space .slider-text .slick-slide .text p {
    width: 90%;
    min-height: 90px;
    height: 90px;
  }
}

.ct_space .slider-text .slick-slide .text .cta {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 12px;
  pointer-events: all;
}

.ct_space .slider-text .slick-dots {
  position: absolute;
  margin: 0;
  left: 50%;
  bottom: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  right: unset;
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-dots {
    width: auto;
    padding: 0;
  }
}

.ct_space .slider-text .slick-dots li {
  list-style: none;
  position: relative;
  margin: 0;
  width: auto;
  margin-top: 0px;
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-dots li {
    left: unset;
    bottom: 0;
  }
}

.ct_space .slider-text .slick-dots li:not(.slick-active) {
  display: none;
}

.ct_space .slider-text .slick-dots li button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  font-size: 14px;
  width: auto;
  color: #222;
  text-indent: 0;
  font-weight: 700;
}

.ct_space .slider-text .slick-dots li button::before, .ct_space .slider-text .slick-dots li button::after {
  display: none;
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-dots li button {
    margin: 0;
  }
}

.ct_space .slider-text .slick-dots .ct_slide_count {
  position: relative;
  display: block !important;
  font-size: 14px;
  margin-left: 4px;
  font-weight: 700;
}

.ct_space .slider-text .slick-dots .ct_slide_count button::before {
  display: none;
}

.ct_space .slider-text .slick-arrow {
  position: absolute;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  bottom: -36px;
  margin-top: -22px;
  left: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: auto;
  padding: 0;
  top: unset;
}

.ct_space .slider-text .slick-arrow::after, .ct_space .slider-text .slick-arrow::before {
  display: none;
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-arrow {
    left: 30%;
  }
}

.ct_space .slider-text .slick-arrow.slick-next {
  left: auto;
  right: 46%;
  z-index: 10;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (max-width: 1024px) {
  .ct_space .slider-text .slick-arrow.slick-next {
    right: 30%;
  }
}

.ct_space .slider-text .slick-arrow.slick-prev {
  z-index: 10;
}

.ct_space .ct_nav__container {
  background-color: #222;
  text-align: center;
  padding: 60px 0;
}

@media (max-width: 1024px) {
  .ct_space .ct_nav__container {
    padding: 40px 0;
  }
}

.ct_space .ct_nav__container h2 {
  color: #F7F7F7;
}

.ct_space .ct_nav__container p {
  color: #F7F7F7;
  margin-top: 16px;
  margin-bottom: 26px;
}

@media (max-width: 1024px) {
  .ct_space .ct_nav__container p {
    padding: 0 20px;
    text-align: center;
  }
}

.ct_space .ct_nav__container .ct_nav__stick_container {
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 20000;
}

.ct_space .ct_nav__container .ct_nav__stick_container .ct_nav__stick_wrap {
  height: 64px;
  overflow: hidden;
  width: 100%;
  z-index: 5;
  -webkit-transition: top .3s linear, opacity .2s ease, -webkit-transform .3s linear;
  transition: top .3s linear, opacity .2s ease, -webkit-transform .3s linear;
  transition: transform .3s linear, top .3s linear, opacity .2s ease;
  transition: transform .3s linear, top .3s linear, opacity .2s ease, -webkit-transform .3s linear;
}

.ct_space .ct_nav__container .ct_nav__stick_container .ct_nav__stick_wrap.ct_stick {
  position: fixed;
}

.ct_space .ct_nav__container .ct_nav__stick_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin: 0;
  height: 40px;
  padding: 12px 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #222;
  z-index: 5;
}

@media (max-width: 1024px) {
  .ct_space .ct_nav__container .ct_nav__stick_container ul {
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
    padding-bottom: 40px;
  }
}

.ct_space .ct_nav__container .ct_nav__stick_container ul li {
  list-style: none;
}

@media (max-width: 1024px) {
  .ct_space .ct_nav__container .ct_nav__stick_container ul li {
    padding-left: 8px;
  }
  .ct_space .ct_nav__container .ct_nav__stick_container ul li:last-child {
    padding-right: 8px;
  }
}

.ct_space .ct_nav__container .ct_nav__stick_container ul li button {
  background-color: #333333;
}

@media (max-width: 1024px) {
  .ct_space .ct_nav__container .ct_nav__stick_container ul li button {
    min-width: 40vw;
  }
}

@media (min-width: 1025px) {
  .ct_space .ct_nav__container .ct_nav__stick_container ul li button:hover {
    background-color: #222;
    border-color: #F7F7F7;
  }
}

.ct_space .ct_nav__container .ct_nav__stick_container ul li button.ct_active {
  background-color: #222;
  border-color: #F7F7F7;
}

.ct_space .ct_double_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ct_space .ct_double_content.ct__mob__reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.ct_space .ct_double_content.ct_in .ct_video__container, .ct_space .ct_double_content.ct_in .ct_text__container {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.ct_space .ct_double_content .ct_video__container,
.ct_space .ct_double_content .ct_text__container {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform .5s ease;
  transition: opacity 1s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity 1s ease;
  transition: transform .5s ease, opacity 1s ease, -webkit-transform .5s ease;
}

.ct_space .ct_double_content .ct_video__container {
  width: 50%;
  position: relative;
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content .ct_video__container {
    width: 100%;
  }
}

.ct_space .ct_double_content .ct_video__container img {
  display: block;
  width: 100%;
  height: auto;
}

.ct_space .ct_double_content .ct_video__container video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.ct_space .ct_double_content .ct_text__container {
  width: 50%;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content .ct_text__container {
    width: 100%;
    padding: 20px;
  }
}

.ct_space .ct_double_content .ct_text__container .ct_title {
  margin-bottom: 8px;
}

.ct_space .ct_double_content .ct_text__container p {
  margin-bottom: 16px;
}

.ct_space .ct_double_content .ct_text__container .ct_cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content .ct_text__container .ct_cta__container {
    width: 100%;
  }
}

.ct_space .ct_double_content .ct_text__container .ct_cta__container a {
  margin-right: 4px;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content .ct_text__container .ct_cta__container a {
    width: 46%;
    max-width: 46%;
    margin-right: 2%;
    min-width: 1px;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_double_content .ct_text__container .ct_cta__container a.ct_cta__single {
    width: 100%;
    max-width: 100%;
  }
}

.ct_space .ct_video__container {
  position: relative;
}

.ct_space .ct_video__container:hover .ct_video__controls {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.ct_space .ct_video__controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: rgba(34, 34, 34, 0.4);
  border: none;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  -webkit-backdrop-filter: 5px;
          backdrop-filter: 5px;
  opacity: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .ct_space .ct_video__controls {
    opacity: 1;
  }
  .ct_space .ct_video__controls:active {
    background-color: #555;
  }
}

@media (min-width: 1025px) {
  .ct_space .ct_video__controls:focus {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .ct_space .ct_video__controls:hover {
    background-color: #555;
  }
}

.ct_space .ct_video__controls.ct__playing svg.ct_play {
  display: none;
}

.ct_space .ct_video__controls.ct__playing svg.ct_pause {
  display: block;
}

.ct_space .ct_video__controls svg {
  color: #F7F7F7;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ct_space .ct_video__controls svg.ct_play {
  display: block;
}

.ct_space .ct_video__controls svg.ct_pause {
  display: none;
}

.ct_space * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ct_space .ct_title {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  color: #222;
  font-family: "Helvetica Neue";
}

@media (max-width: 1024px) {
  .ct_space .ct_title {
    font-size: 32px;
  }
}

.ct_space .ct_body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
  color: #555;
}

.ct_space .ct_icon {
  fill: currentColor;
}

.ct_space .ct_last {
  width: 100%;
  position: relative;
}

.ct_space .ct_last img {
  width: 100%;
  height: auto;
  display: block;
}

.ct_space .ct_last img:not(.ct_skeleton) {
  position: absolute;
  left: 0;
  top: 0;
}

.ct_space .ct_last h3 {
  font-size: 32px;
  font-weight: 300;
  color: #222;
  position: absolute;
  z-index: 1;
  left: 5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  width: 28vw;
}

@media (max-width: 1024px) {
  .ct_space .ct_last h3 {
    top: 10vw;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
}

.ct_space .ct_last .ct_text__container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 33%;
  left: 38vw;
}

@media (max-width: 1024px) {
  .ct_space .ct_last .ct_text__container {
    top: calc(10vw + 60px);
    width: 100%;
    padding: 0 20px;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.ct_space .ct_last .ct_text__container p {
  margin-bottom: 16px;
  color: #222;
}

@media (max-width: 1024px) {
  .ct_space .ct_last .ct_text__container p {
    margin-bottom: 24px;
  }
}

@media (min-width: 1025px) {
  .ct_space .ct_last .ct_text__container .ct_cta__container a:nth-child(1) {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .ct_space .ct_last .ct_text__container .ct_cta__container a {
    width: 100%;
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=index.css.map */