@import 'variables';
@import 'resetLP';
@import 'utils';

//modules
@import './modules/hero';
@import './modules/nav';
@import './modules/doubleContent';
@import './modules/videoControls';

.ct_space {
    *{
        box-sizing: border-box;
       
    }
   
    .ct_title{
        font-size: 60px;
        font-weight: 300;
        margin: 0;
        color: $black;
        font-family: "Helvetica Neue";
        @media(max-width:$tab-max){
            font-size: 32px;
        }
    }
    .ct_body{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1;
        margin: 0;
        color: $black_hover;
    }
    .ct_icon{
        fill: currentColor;
    }
    .ct_last{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            height: auto;
            display: block;
            &:not(.ct_skeleton){
                position: absolute;
                left: 0;
                top: 0;
            }
        }
       
        h3{
            font-size: 32px;
            font-weight: 300;
            color: $black;
            position: absolute;
            z-index: 1;
            left: 5vw;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            width: 28vw;
            @media(max-width:$tab-max){
                top: 10vw;
                transform: none;
                width: 100%;
                left: 0;
                padding: 0 20px;
            }
        }
        .ct_text__container{
            position: absolute;;
            top: 50%;
            transform: translateY(-50%);
            width: 33%;
            left: 38vw;
            @media(max-width:$tab-max){
                top: calc(10vw + 60px);
                width: 100%;
                padding: 0 20px;
                left: 0;
                transform: none;
            }
            p{
                margin-bottom: 16px;
                color: $black;
                @media(max-width:$tab-max){
                    margin-bottom: 24px;
                }
            }
            .ct_cta__container{
                @media(min-width:$desk-min){
                    a:nth-child(1){
                        margin-right: 20px;
                    }
                }
                @media(max-width:$tab-max){
                    a{
                        width: 100%;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        
    }
}

*{
    
}