@import "variables.scss";

#supernovaLP {
  #faq {
    .accordion-wrapper {
      .accordion-button {
        &::before {
          content: "+";
          width: 21px;
          height: 21px;
          font-size: 11px;
          font-weight: 700;
          border: 2px solid $second-color;
          border-radius: 50px;
          position: relative;
          transition: transform 0.3s ease;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-right: 16px;
          color: $second-color;
        }
        &.active {
          &::before {
            content: "-";
          }
        }
      }
    }
  }
}


.background-off-white {
  background: #F7F6F4;
}

.card-body a {
  text-decoration: underline !important;
}

.card-body a:hover {
  color: #aaa;
}

/* FAQ Icon */
#supernova-accordion .tab-accordion>.card-faq:first-child>.card-header {
  border-top: 1px solid rgba(0, 0, 0, .125)
}

#health-funds-accordion .tab-accordion--sign {
  width: 20px;
  height: 20px;
  border: 2px solid #b58b34;
  border-radius: 100%;
  margin-left: 0
}

#health-funds-accordion .tab-accordion--sign:after,
#health-funds-accordion .tab-accordion--sign:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background: #2d2926;
  top: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

#health-funds-accordion .tab-accordion--sign:after,
#health-funds-accordion .tab-accordion--sign:before {
  width: 8px;
  height: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #b58b34
}

#health-funds-accordion .tab-accordion--sign.collapsed:before {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg)
}

.tab-accordion .card-header {
  background: 0 0;
}

@media screen and (max-width: 767px) {
  .header-three--title>h2 {
     font-size: 1.5625rem;
  }
}