@import "variables.scss";

#supernovaLP {
  #getSupport {
    .swiper {
      min-height: 200px;
      .swiper-pagination {
        bottom: 32px;
        .swiper-pagination-bullet {
          background: transparent;
          opacity: 1;
          border: 0.5px solid $black;
          &.swiper-pagination-bullet-active {
            background: $black;
          }
        }
      }
    }
  }
}
