#page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 !important;
}

#main_content_wrapper {
  padding-top: 0;
}

#CommerceComposerContent > .rowContainer > .row {
  margin-bottom: 0;
  padding-bottom: 0;
}

#ct_accessibility.ct_space .ct_container {
  margin: auto;
}
#ct_accessibility.ct_space .ct_container ul {
  box-sizing: border-box;
  transform: translate(20px);
  padding-left: 20px;
}
#ct_accessibility.ct_space .ct_container ul li {
  list-style: disc;
  line-height: 1.2;
}