.header-desktop {
    background: #fff
}

.header-mobile {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0,0,0,.45)
}

.header-mobile .header__icon {
    font-size: 20px;
    width: 25px
}

div.background-gray-100.p-3 div.main-nav__secondary-item.background-white.text-uppercase.d-block.d-md-none {
    display: none !important;
}

.counter {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #c00;
    color: #fff;
    z-index: 991;
    padding: 2px 3px;
    border-radius: 3px;
    font: bold 10px/1 HelveticaNeueforTarget,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.main-nav__item {
    text-transform: uppercase;
    font-size: 14px
}

.main-nav__item a:active,.main-nav__item a:hover,.main-nav__item a:link,.main-nav__item a:visited {
    padding: 1.1rem 1.7rem;
    display: block;
    font-weight: 400
}

.main-nav__item a:after {
    float: right;
    font: normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #222;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054"
}

.main-nav__item--service a:after {
    content: ""
}

.main-nav__item--service a {
    background: #ced4da
}

.main-nav__secondary-item {
    padding: 1.1rem 1.7rem;
    font-size: 14px
}

.main-nav__secondary-item a:active,.main-nav__secondary-item a:hover,.main-nav__secondary-item a:link,.main-nav__secondary-item a:visited {
    font-weight: 500
}

@media (max-width:991.98px) {
    .main-nav__secondary-button {
        padding: 1.1rem 0;
        font-size: 14px
    }

    .main-nav__secondary-button .btn {
        border: 0;
        padding: 0;
        background: 0 0;
        text-transform: uppercase;
        font-weight: 500
    }

    .main-nav__secondary-button a:active,.main-nav__secondary-button a:hover,.main-nav__secondary-button a:link,.main-nav__secondary-button a:visited {
        color: #222
    }

    .main-nav__secondary-button a:hover {
        text-decoration: underline
    }
}

@media (min-width:992px) {
    .main-nav {
        background: #e8eaec
    }

    .main-nav__item {
        text-transform: uppercase;
        font-size: 12px
    }

    .main-nav__item a:active,.main-nav__item a:hover,.main-nav__item a:link,.main-nav__item a:visited {
        padding: 1.3rem .6rem;
        text-align: center
    }

    .main-nav__item a:hover {
        background: transparent url(../images/target-bullet.svg) 0 center no-repeat
    }

    .main-nav__item--service a:hover {
        background: #ced4da
    }

    .main-nav .main-nav__item:first-child a {
        margin-left: -.5rem
    }

    .main-nav__item--active a {
        background: transparent url(../images/target-bullet.svg) 0 center no-repeat
    }

    .main-nav__item--service a {
        border-left: 1px solid #e8eaec
    }

    .main-nav__item a:after {
        content: ""
    }

    .main-nav__secondary-item {
        padding: .5rem 0;
        font-size: 12px
    }

    .main-nav__secondary-button {
        padding: .25rem 0;
        font-size: 12px
    }

    .main-nav__secondary-button .btn {
        min-width: 10em
    }

    .main-nav__secondary-item a:active,.main-nav__secondary-item a:hover,.main-nav__secondary-item a:link,.main-nav__secondary-item a:visited {
        font-weight: 400
    }

    .main-nav__secondary-item--more a:active,.main-nav__secondary-item--more a:hover,.main-nav__secondary-item--more a:link,.main-nav__secondary-item--more a:visited {
        font-weight: 700
    }
}

@media (min-width:1200px) {
    .main-nav__item a:hover {
        background: transparent url(../images/target-bullet.svg) 7px center no-repeat
    }

    .main-nav__item--service a:hover {
        background: #ced4da
    }

    .main-nav__item--active a {
        background: transparent url(../images/target-bullet.svg) 7px center no-repeat
    }

    .main-nav__item a:active,.main-nav__item a:hover,.main-nav__item a:link,.main-nav__item a:visited {
        padding: 1.3rem
    }

    .main-nav .main-nav__item:first-child a {
        margin-left: -1.3rem
    }

    .main-nav__item--service a {
        border-left: 1px solid #e8eaec
    }
}

.promo-stripe {
    background: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 1.35rem 0;
    font-weight: 500;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 989;
}
@media (max-width:767px) {
    .promo-stripe {
        height: 55.5px;
    }
}

@media (min-width:768px) {
    .promo-stripe {
        padding: .7rem 0
    }
}

.promo-stripe a:active,.promo-stripe a:link,.promo-stripe a:visited,.promo-stripea:hover {
    color: #fff
}

.global-offer .swiper-button-next,.global-offer .swiper-button-prev {
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3)
}

.global-offer__item {
    padding: 10px 0 0 0
}

.main-nav__backdrop {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    height: 0
}

.main-nav__backdrop.in {
    height: auto;
    background-color: rgba(0,0,0,.4)
}

.main-nav-desktop__panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    background: #e8eaec;
    height: 0;
    overflow: hidden
}

.main-nav-desktop__panel.in {
    opacity: 1;
    height: auto
}

.main-nav-desktop__panel-left {
    margin-left: auto;
    padding: 3rem 40px;
    width: 50%
}

.main-nav-desktop__panel-right {
    width: 50%
}

@media (min-width:1200px) {
    .main-nav-desktop__panel-left {
        padding: 3rem 0;
        min-width: 525px;
        width: auto
    }

    .main-nav-desktop__panel-right {
        min-width: 525px
    }
}

.main-nav__feature {
    background-color: #e8eaec;
    -webkit-transition: background-color .15s ease-in;
    transition: background-color .15s ease-in;
    padding: 1.9rem 1.7rem
}

@media (min-width:768px) {
    .main-nav__feature {
        padding: 40px 40px 40px 100px
    }
}

.main-nav__feature__title {
    font-size: 21px;
    line-height: 1.4em;
    font-weight: 700
}

.top-bar--panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 991;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out
}

.top-bar--panel.in {
    opacity: 1;
    pointer-events: auto
}

.main-nav-mobile__top {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 991;
    height: 0;
    overflow: hidden;
    opacity: .7;
    -webkit-transition: opacity .2s ease-out,-webkit-transform .25s ease-out;
    transition: opacity .2s ease-out,-webkit-transform .25s ease-out;
    transition: transform .25s ease-out,opacity .2s ease-out;
    transition: transform .25s ease-out,opacity .2s ease-out,-webkit-transform .25s ease-out;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    font-size: 14px;
    background: #e8eaec
}

.main-nav-mobile__top.in {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    overflow: auto;
    height: auto
}

.main-nav-mobile__panel {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    z-index: 992;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    font-size: 14px;
    background: #e8eaec
}

.main-nav-mobile__panel.in {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    overflow: auto;
    height: auto
}

.site-search {
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s ease-out,top .5s ease-out;
    transition: opacity .3s ease-out,top .5s ease-out
}

.site-search.in {
    opacity: 1;
    top: 0;
    pointer-events: auto
}

.site-search__query {
    background: #fff;
    min-height: 36px;
    border-bottom: 1px solid #e8eaec
}

.site-search__results {
    background: #fff;
    height: 100%;
    overflow-y: scroll
}

.site-search__hints-wrapper {
    background: #e8eaec;
    height: 100%
}

.site-search__hints {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 5rem
}

@media (min-width:768px) {
    .site-search__hints {
        display: block;
        padding: 0;
        width: 30%
    }
}
@media (min-width: 1200px) {
 	.header-desktop .container{
    	max-width: 1920px!important;
    	padding-left:50px;
    	padding-right:50px;
	}

}

@media (max-width:991.98px) {
    .site-search .section__title {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0;
        margin-left: 30px;
        font-weight: 700!important;
        margin-bottom: 1.5rem
    }
}
/*# sourceMappingURL=header.css.map */
