//Stili globali delle cta e/o buttons: a, button...

@import "variables.scss";

#supernovaLP {
  .cb_cta {
    max-width: 100%;
    min-height: $cta-height;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: $font-xxs;
    //font-weight: add class inline;
    //text-transform: add class inline;
    padding-left: 32px;
    padding-right: 32px;

    &.fill {
      background-color: $black;
      color: $white;
      &:hover {
        background-color: transparent;
        color: $black;
        border: 1px solid $black;
      }
    }

    &.outline {
      background-color: transparent;
      color: $black;
      border: 1px solid $black;
      &:hover {
        background-color: $black;
        color: $white;
        border: 0;
      }
    }

    &.primary {
      background-color: $fifth-color;
      color: $white;
      &:hover {
        background-color: $white;
        color: $fifth-color;
        border: 1px solid $fifth-color;
      }
    }

    &.with-icon-1 {
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-radius: 1px;
        transform: rotate(225deg);
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 8px;
        transition: transform 0.3s ease;
      }
      &:hover {
        &::before {
          transform: translateY(-3px) rotate(225deg);
        }
      }
    }
  }
  .ct_categories{
    .ct_category{
      p{
        margin-bottom: 0;
      }
    }
  }
 
}
