
@import 'resetLP';
@import 'variables';

.ct_space{
    .ct_blog{
        .ct_nav__container{
            padding: 34px 24% 12px 24%;
            width: 100%;
            position: relative;
            @media(max-width:1400px){
                padding: 34px 10%;
            }
            @media(max-width:1024px){
                padding: 20px 0;
                height: 110px;
                overflow: hidden;
            }
            ul{
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media(max-width:1024px){
                    overflow-x: scroll;
                    overflow-y: hidden;
                    padding-bottom: 40px;
                    padding-right: 20px;
                }
                li{
                    min-width: 100px;
                    @media(max-width:1024px){
                        min-width: 120px;
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: relative;
                        margin: auto;
                        cursor: pointer;
                        *{
                            pointer-events: none;
                        }
                        .ct_icon__container{
                            margin-bottom: 12px;
                            .ct_icon{
                                color: $violet;
                                width: 30px;
                                height: 30px;
                                @media(max-width:1024px){
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        &.ct_active{
                            span{
                             
                                &::after{
                                    width: 100% !important;
                                    left: 4% !important; 
                                }
                                &::before{
                                    font-weight: bold;
                                }
                            }
                          
                        }
                        &:hover,
                        &:focus{
                            @media(min-width:$break-portrait-min){
                                span{
                                    &::after{
                                        width: 100%;
                                        left: 2%;
                                    }
                                }
                            }
                          
                        }
                        span{
                            white-space: nowrap;
                            font-size: 16px;
                            position: relative;
                            color: transparent;
                            @media(max-width:1024px){
                                font-size: 14px;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                left: 2%;
                                bottom: -10px;
                                width: 0;
                                height: 2px;
                                background-color: $violet;
                                transition: width .3s ease;
                                text-transform: capitalize;
                            }
                            &::before{
                                content:attr(title);
                                position: absolute;
                                left: 0;
                                color: $black;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
            span.ct_nav__scrollbar{
                @media(min-width:1025px){
                    display: none;
                }
                @media(max-width:1024px){
                    display: inline-block;
                    width: calc(100% - 40px);
                    height: 2px;
                    background-color: $violet-extra-light;
                    position: absolute;
                    bottom: 0px;
                    left: 20px;
                    z-index: 2;
                    overflow: hidden;
                }
                >span{
                    @media(max-width:1024px){
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 150px;
                        height: 2px;
                        display: inline-block;
                        background-color: $violet;
                        border-radius: 2px;
                        z-index: 3;
                        transition: width .3s ease;
                        will-change: margin-left;
                    }
                }
               
            }
        }
        .ct_articles{
            padding: 20px 72px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            transition: opacity .5s ease;
            @media(max-width:1500px){
                padding: 20px 48px;
            }
            @media(max-width:1300px){
                padding: 20px 24px;
            }
            @media(max-width:1024px){
                padding: 20px 0px;
            }
            .ct_article{
                width: 50%;
                padding: 20px;
                @media(max-width:1024px){
                    width: 100%;
                }
                a{
                    box-sizing: content-box;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    border-radius: 8px;
                    border: 1px solid $blue;
                    overflow: hidden;
                    .ct_img__container{
                        width: 100%;
                        position: relative;
                        img{
                            width: 100%;
                            height: auto;
                            display: block;
                            &.ct_skeleton{

                            }
                            &.ct_article_img{
                                position: absolute;
                                height: 100%;
                                left: 0;
                                top: 0;
                                z-index: 2;
                                object-fit: cover;
                            }
                        }
                    }
                    .ct_text{
                        padding: 24px;
                        h2{
                            min-height: 73px;
                            position: relative;
                            line-height: 40px;
                            font-size: 28px;
                        }
                        p{
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            position: relative;
                            min-height: 75px;
                            color: $black;
                            margin-bottom: 10px;
                            font-size: 16px;
                            letter-spacing: 0.889px;
                            font-family: $font-regular;
                            line-height: 32px;
                            @media(max-width:767px){
                                min-height: 88px;
                                -webkit-line-clamp: 4;
                                margin-bottom: 10px;
                            }
                        }
                        span{
                            font-family: $font-medium;
                            color: $blue;
                            text-decoration: underline;
                            font-size: 20px;
                            letter-spacing: 0.889px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                   
                }

                &.ct_loading{
                    .ct_img__container,
                    .ct_text h2,
                    .ct_text p{
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            background: linear-gradient(110deg,#ececec 8%,#f5f5f5 18%,#ececec 33%);
                            background-size: 200% 100%;
                            animation: 1.5s shine linear infinite;
                        }
                       
                    }   
                    .ct_text h2,
                    .ct_text p{
                        &::before{
                            border-radius: 4px;
                            height: 90%;
                        }
                    }
                    .ct_article_img{
                        opacity: 0;
                    }
                }
                &.ct_loaded{
                    .ct_img__container{
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            background: linear-gradient(110deg,#ececec 8%,#f5f5f5 18%,#ececec 33%);
                            background-size: 200% 100%;
                            animation: 1.5s shine linear infinite;
                        }
                    }
                }
                &.ct_art_hidden{
                    display: none;
                }
                @keyframes shine {
                    0%{
                        background-position: 100%;
                    }
                    100%{
                        background-position: -100%;
                    }
                }
            }
           
        }
    }
}

