@import "variables.scss";

$gutter-x: 1.5rem; //24px

#supernovaLP {
  #getSupport {
    .swiper {
      min-height: 200px;
      .swiper-wrapper {
        @media screen and (min-width: $breakpoint-md) {
          margin-right: calc(-0.5 * $gutter-x);
          margin-left: calc(-0.5 * $gutter-x);
        }
      }
      .swiper-pagination {
        bottom: 32px;
        .swiper-pagination-bullet {
          background: transparent;
          opacity: 1;
          border: 0.5px solid $black;
          &.swiper-pagination-bullet-active {
            background: $black;
          }
        }
      }
    }
  }
}
