
#ct_wow__search{
   
    #ct_wow__search__input{
        position: fixed;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        z-index: 8;
        border-radius: 4px;
        min-width: 40%;
        height: 200px;
        box-sizing: border-box;
    }
    .ct_wow__search__input_container{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: relative;
        border-radius: 4px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        .ct_wow__search__input_progress{
            width: 100%;
            text-align: center;
            --ct-wow-search-input-progress-after-opacity:0;
            --ct-wow-search-input-progress-before-opacity:0;
            --ct-wow-search-input-progress-after-translate:translateY(0);   
            --ct-wow-search-input-progress-before-translate:translateY(0);                 
            .ct_wow__search__input_progress__current{
                margin-right: -4px;
                position: relative;
                >span{
                 
                }
               &.animation{
                &::after,&::before{
                    transition: all .3s ease;
                }
               }
               
                &::after{
                    content: attr(data-next);
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: var(--ct-wow-search-input-progress-after-opacity);
                    transform: var(--ct-wow-search-input-progress-after-translate);
                }
                &::before{
                    content: attr(data-current);
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateY(100%);
                    opacity: var(--ct-wow-search-input-progress-before-opacity);
                    transform: var(--ct-wow-search-input-progress-before-translate);
                }
               
            }
        }
        .ct_wow__search__input_questions{
            margin-bottom: 24px;
            h3{
                font-size: 16px;
                color: #000;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
        .ct_wow__search__input_answers{
            white-space: nowrap;
            .ct_wow__search__input_answer{

            }
        }
        .ct_wow__search__input_commands{
            .ct_wow__search__input_commands__next,
            .ct_wow__search__input_commands__prev{
                position: absolute;
                bottom: 20px;
                background-color: transparent;
                border: none;
                text-decoration: underline;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                color: #000;
                cursor: pointer;
                transition: opacity .3s ease;
                svg{
                    color: #000;
                    fill: currentColor;
                    width: 16px;
                    height: 16px;
                    transition: all .3s cubic-bezier(.19,1,.22,1);
                }
                &.disabled{
                    pointer-events: none;
                    opacity: .5;
                }
            }
            .ct_wow__search__input_commands__next{
                right: 20px;
                &:hover{
                    text-decoration: none;
                    svg{
                        transform: translateX(3px);
                    }
                }
            }
            .ct_wow__search__input_commands__prev{
                left: 20px;
                &:hover{
                    svg{
                        transform: translateX(-3px);
                    }
                }
            }
        }
    }
     
}
