#ct_wow__search{

    //CTA
    .ct_cta{
        text-align: center;
        border-radius: 40px;
        padding: 9px 25px;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        text-shadow: none;
        box-shadow: none;
        transition: background-color .6s ease,color .6s ease,transform .4s ease;
      
        height: 40px;
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        white-space: nowrap;
        min-width: 130px;
        cursor: pointer;
        border: none;
        //COLOR VARIANT
        &.ct_cta__black{
            background-color: $black;
            color: #fff;
           
            @media(min-width:1025px){
                &:hover{
                    background-color: $black_hover;
                    border-color: $black_hover;
                }
            } 
            @media(max-width:1024px){
                &:active{
                    background-color: $black_hover;
                
                }
            }
        }
        &.ct_cta__white{
            background-color: #fff;
            color: $black;
        
            @media(min-width:1025px){
                &:hover,&:focus{
                    background-color: $black;
                    border-color: $black;
                    color: #fff;
                }
            }
            @media(max-width:1024px){
                &:active{
                    background-color: $black;
                    border-color: $black;
                    color: #fff;
                }
            }
            &.ct_active{
                background-color: $black;
              
                color: #fff;
            }
        }

        // LENGTH VARIANTS
        &.ct_cta__large{
            min-width: 180px;
        }
        
    }

   
}