// @import '../../../modulelibrary/variables';
@import 'resetLP';
@import 'faq';
@import 'modal';

.ct_space {
  .ct_hidden{
    opacity: 0;
  }

  .ct_hero{
    .ct_text__overlay{
      height: 100%;
      >div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
      }
    }
  }

  .ct_section:nth-child(2){
    background: #EFF5FF;

    @media(orientation: portrait) and (min-width: 1025px), (orientation: landscape) and (min-width: 1024px){
        .ct_col:first-child{
          padding-right: 30px;
        }
        .ct_col:nth-child(2){
          padding-left: 30px;
        }
    }
    @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
      .ct_col:nth-child(2){
        padding-top: 50px;
      }
    }
  }

  .ct_tab{

    .ct_tab-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      @media(max-width: 768px){
        width: max-content;
        margin: 0px 20px;
      }

      @media(orientation: portrait) and (min-width: 769px) and (max-width: 1024px), (orientation: landscape) and (min-width: 769px) and (max-width: 1023px){
       padding-bottom: 30px !important;
      }

      .tab-btn{
        height: 40px;
        border: 1px solid #e5ebfe;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        border-left: unset;
        border-radius: 100px;
        background-color: transparent;
        display: flex;
        align-items: center;
        padding-right: 16px;
        cursor: pointer;

        &.ct_tab_active, &:hover{
          background-color: #E0E9FA;

          .ct_tab-btn-icon{
            background-color: #CEDBF4;
          }
        }
      }

      .ct_tab-btn-icon{
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border: 1px solid #e5ebfe;
        border-radius: 100%;
        padding: 6px;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        svg{
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
      span{ 
        color: #323666;
        font-size: 12px;
      }
    }

    .ct_tab-content{
      width: 100%;
      border-radius: 8px;

      .tab-content{
        display: none;
        width: 100%;
        min-height: 10rem;
        transition: all 0.3s ease;

        .ct_tab-content_section{
          background-color: #EFF5FF;
          border-radius: 8px;

          .ct_section__step{
            display: flex;
            justify-content: center;
            align-items: self-start;

            div{
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 1;
              position: relative;

              @media(orientation: portrait) and (min-width: 1025px), (orientation: landscape) and (min-width: 1024px){
                  &:not(:last-child)::after{
                    content: '';
                    content: "";
                    background-color: #000;
                    height: 1px;
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translate(-50%, -10px);
                  }

                  p{
                    font-size: 14px !important;
                  }
              }
            }
            @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 60px;

              div{
                flex-direction: column;
                justify-content: left;

                &:not(:last-child)::after{
                  content: "⟵";
                  transform: rotate(-90deg);
                  transform-origin: center center;
                  position: absolute;
                  top: calc(100% + 20px);
                }
              }
            }
          }

          .ct_section__box{
            display: flex;
            gap: 16px;

            div{
              border-radius: 4px;
              background-color: #E6C6F3;
              flex: 1;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: center;

              h4{
                font-size: 14px;
              }
              p{
                font-size: 14px;
              }
            }

            @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
              flex-direction: column;

            }
          }
        }

        &.ct_tab_active{
          display: block;
        }
      }
    }

    @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
      .ct_tab__scroll{
        width: 100vw;
        overflow-y: scroll;
      }
      .ct_tab__scroll::-webkit-scrollbar {
        width: 0 !important;
      }
    }
  }

  .ct_opthy__app{
    .ct_text__overlay{
      img{
        max-width: 160px;

        @media(max-width: 1023px){
          margin: auto;
        }
      }
    }
  }
  
  #ct_contact_us{
    .ct_row{
      align-items: stretch;
    }
    .ct_col:not(:last-child){
      border-right: solid 1px #CEDBF4;
    }
    .ct_col > div{
      margin: 0 auto;
      width: max-content;
    }
    p{
      font-size: 14px;
    }

    @media(max-width: 768px){
      .ct_col{
        > div{
          margin: 0px !important;
          padding: 30px 0;
        }
      }
      .ct_col:not(:last-child){
        border-bottom: solid 1px #CEDBF4;
        border-right: none;
      }
    }
  }

  .ct_opthy__download{
    font-size: 14px;
    text-decoration: underline !important;
  }
}