// @import '../../../modulelibrary/variables';
@import 'resetLP';
@import 'faq';

.ct_space {
  .ct_container{
    
    .ct_row .ct_col .ct_assets__container{
      position: relative;
    }

    .ct_row .ct_col .ct_assets__container.ct_img__skeleton+.ct_video__container {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
    }

    .ct_opthy__hero{
      svg{
        height: 60px;
      }

      .ct_text__overlay{
        .ct_text__secondary {
          @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
            justify-content: center;
            text-align: left;
          }
        }
      }
    }

    .ct_opthy__app{
      .ct_text__overlay{
        img{
          max-width: 160px;

          @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
            margin: auto;
          }
        }
      }
    }

    .ct_opthy__use{
      background-color: #E0E9FA;

      .ct_steps{
        justify-content: space-between;
        gap: 100px;

        .ct_step{
          flex: 1;

          div{
            position: relative;
            display: flex;
            justify-content: center;
            position: relative;
          }
          img{
            max-width: 180px;
            border-radius: 50%;
          }
        }

        .ct_step:not(:last-child){
            div{
                &::after{
                  content: url("https://media.glasses.com/2023/PLATFORM/OPTHY/arrow.svg");
                  width: 62px;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateX(calc(100px - (38px / 2)));
              }
            }
        }

        @media(orientation: portrait) and (max-width: 1024px), (orientation: landscape) and (max-width: 1023px){
          flex-direction: column;
          gap: 60px;

          .ct_step{
            flex-direction: row;
            display: flex;
            align-items: center;

            img{
              width: 100px;
            }
          }

          .ct_step:not(:last-child){
             div{
                 &::after{
                  content: url("https://media.glasses.com/2023/PLATFORM/OPTHY/arrow_down.svg");
                  top: 100% !important;
                  right: 50%;
                  transform: translateX(50%) translateY(15px);
                  width: auto;
               }
             }
         }
        }
      }
    }
  }
}
