@import '../../CreateLandingPage/00_Dependences/DesignSystem/style/variables';


@font-face {
    font-family: 'HelveticaNeueforTarget';
    src: url("../../CreateLandingPage/00_Dependences/DesignSystem/fonts/HelveticaNeueforTarget-Bd.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueforTarget';
    src: url("../../CreateLandingPage/00_Dependences/DesignSystem/fonts/HelveticaNeueforTarget-Md.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueforTarget';  
    src: url("../../CreateLandingPage/00_Dependences/DesignSystem/fonts/HelveticaNeueforTarget-Rm.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueforTarget';
    src: url("../../CreateLandingPage/00_Dependences/DesignSystem/fonts/HelveticaNeueforTarget-Lt.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}

$section-pad: 64px;
.ct_space {
    section{
        padding: 40px;
        border-bottom: 1px solid $brand-red;
        position: relative;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        &.ct_plp{
            padding: $section-pad;
            @media(max-width:$break-landscape-min){
                padding: 12px;
            }
        }
        @media(max-width:$break-landscape-min){
            padding: 12px;
        }
    }
    .banner_code_container{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        box-shadow: 5px 5px 35px 2px #0000006b;
     
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 99;
     
        &.show{
            display: flex;
        }
        button{
            cursor: pointer;
            position: absolute;
            left:calc(50% + 380px);
            top: calc(50% - 310px);
           
            z-index: 2;
            background-color: transparent;
            width: 30px;
            height: 30px;
           
            border: none;
            svg{
                height: 100%;
                width: 100%;
            }
        }
    }
    .ct_banner__container{
        padding: 0 !important;
    }
    pre{
        margin: 0;
        border-radius: 8px;
        width: 800px;
        height: 500px;
        code{
            font-size: 13px !important;
            tab-size: 1 !important;
        }
        *{
            font-size: 13px !important;
            tab-size: 1 !important;
        }
    }

    .ct_show_code{
        @media(max-width:1024px){
            display: none !important;
        }
    }
    .ct_color__palette{
        display: flex;
        align-items: flex-start;
       
    }
    .ct_color__container{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 20px;
        .ct_color{
            width: 100px;
            height: 100px;
            border-radius: 50px;
            margin-bottom: 20px;
           
        }
        .ct_color_name{
            text-align: center;
        }
    }
   
    .ct_product__list{
        width: 100%;
       
        .ct_prod__container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            align-items: stretch;
            @media(max-width:$break-landscape-min){
                flex-direction: column;
            }
        }
        .ct_prod{
            display: block;
            width: calc(100% / 3 - 20px);
            height: calc(33vw - 40px);
            background-color: #fff;
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid $medium-gray;
            &.ct_espot{
                height: auto;
            }
            @media(max-width:$break-landscape-min){
                width: 100%;
                height: 85vw;
                margin-bottom: 20px;
            }
            // border: 2px solid $medium-gray;
           
           
        }
        .ct_prod__double{
            width: calc(100%/3*2 - 10px);
            height: calc(33vw - 40px);
            border: 1px solid $medium-gray;
            border-radius: 15px;
            overflow: hidden;
            @media(max-width:$break-landscape-min){
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
          
        }
    }
    // .ct_plp {
    //     .ct_banner{
    //         height: 100%;
    //         max-height: 100%;
    //         >a{
    //             height: 100%;
    //             display: contents;
    //         }
    //         .ct_assets__container,
    //         .ct_img__container,
    //         picture,
    //         img{
    //             height: 100%;
    //         }
    //         img,
    //         video{
    //             object-fit: cover;
    //         }
    //         &.ct_text__outside {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: flex-start;
    //         }

            
    //     }
    // }
}
#back_home{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: $brand-red;
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
 
    -webkit-box-shadow: 0 0 28.5px 4px #757575;
    -moz-box-shadow: 0 0 28.5px 4px #757575;
    box-shadow: 0 0 28.5px 4px #757575;


}