.promo-popup-container div {
  box-sizing: border-box;
}
.promo-popup-container .welcome-promo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.25s ease-out;
  z-index: -1;
  opacity: 0;
}
.promo-popup-container .welcome-promo.open {
  opacity: 100%;
  z-index: 1000;
}
.promo-popup-container .welcome-promo .underlay {
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-popup-container .welcome-promo .promo-popup {
  position: fixed;
  width: 700px;
  min-height: 340px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 32px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 16px;
  border: none;
  background: url("../images/popup-bg-desk.png") no-repeat;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup {
    top: unset;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100vw;
    height: auto;
    padding: 0 16px;
    align-items: flex-start;
    border-radius: 8px 8px 0 0;
    background: url("../images/popup-bg-mob.png") no-repeat;
    background-color: #e0d095;
    padding: 76px 16px 16px 16px;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container {
    width: 100%;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  flex-grow: 1;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form.ng-submitted .input-container input.ng-invalid {
  border-color: #d96f2b !important;
  background: #fdf5ec;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container {
  position: relative;
  width: 100%;
  padding: 0 20px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container input {
    font-size: 16px;
    line-height: 24px;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container input.ng-valid.ng-touched:not(.focused) {
  border-color: #4b924f !important;
  background: #e6f5e5;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container input.ng-invalid.ng-touched:not(.focused) {
  border-color: #d96f2b !important;
  background: #fdf5ec;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container.focused .error {
  display: none;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form .input-container .error {
  position: absolute;
  top: -22px;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 24px;
  color: #ab5820;
  text-align: center;
  background: #fdf5ec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form button[type=submit] {
  display: flex;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  text-transform: uppercase;
  background: #cc0000;
  border: 1px solid #cc0000;
  color: white;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 16px;
  width: 65%;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step form button[type=submit]:hover {
  background-color: white !important;
  color: #cc0000 !important;
  border: 1px solid #cc0000 !important;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .spinner {
  -webkit-animation: spin 1s steps(12) infinite;
  -moz-animation: spin 1s steps(12) infinite;
  animation: spin 1s steps(12) infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step p {
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 8px;
  color: black;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step p {
    width: 65%;
    font-size: 14px;
    line-height: 19px;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step p b {
  text-transform: uppercase;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step p em {
  color: #cc0000;
  font-style: normal;
  font-weight: bold;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step h1,
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #cc0000;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 28px;
  line-height: 32px !important;
  text-transform: none !important;
  margin: 0 10px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step h1,
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step h2 {
    margin: 0;
    font-size: 20px;
    line-height: 24px !important;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 0 32px 0;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .links {
    margin: 16px 0;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .links a {
  display: flex;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 100%;
  text-transform: uppercase;
  background: #cc0000;
  border: 1px solid #cc0000;
  color: white;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .links a:hover {
  background-color: white !important;
  color: #cc0000 !important;
  border: 1px solid #cc0000 !important;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step .links a:not(:last-child) {
  margin-bottom: 8px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step.success p {
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .promo-step.success p {
    margin: 6px 0;
  }
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer {
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 10px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .benefits .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 19px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .benefits .item svg {
  margin-right: 8px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .terms {
  font-size: 10px;
  line-height: 16px;
}
.promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .terms a {
  color: #333333;
  font-weight: bold;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .promo-popup-container .welcome-promo .promo-popup .promo-container .disclaimer .terms a::before {
    content: "\a";
    white-space: pre;
  }
}
.promo-popup-container .minimized-promo {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 8px;
  width: 240px;
  border-radius: 5px;
  border: none;
  height: 48px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  overflow: hidden;
  background: white;
}
.promo-popup-container .minimized-promo .open-button {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}
.promo-popup-container .minimized-promo .open-button .img {
  height: 100%;
  width: 60px;
  background: url("../images/popup-bg-mob.png") no-repeat;
  background-size: 60px;
  background-position-y: -6px;
}
.promo-popup-container .minimized-promo .open-button .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  font-family: HelveticaNeueforTarget, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
}
.promo-popup-container .minimized-promo .remove-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 32px;
  cursor: pointer;
}

/*# sourceMappingURL=promo-popup.css.map */
