.ct_space{
    .ct_double_content{
        width: 100%;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        @media(max-width:$tab-max){
            flex-direction: column;
            &.ct__mob__reverse{
                flex-direction: column-reverse;
            }
        }
        &.ct_in{
            .ct_video__container,.ct_text__container{
                transform: translateY(0px);
                opacity: 1;
            }
          
        }
        .ct_video__container,
        .ct_text__container{
            transform: translateY(60px);
            opacity: 0;
            transition: transform .5s ease, opacity 1s ease;
        }
        .ct_video__container{
            width: 50%;
            position: relative;
           
            @media(max-width:$tab-max){
                width: 100%;
            }
            img{
                display: block;
                width: 100%;
                height: auto;
            }
            video{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
        }
        .ct_text__container{
            width: 50%;
            padding: 5vw;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            @media(max-width:$tab-max){
                width: 100%;
                padding: 20px;
            }
            .ct_title{
                margin-bottom: 8px;
            }
            p{
                margin-bottom: 16px;
            }
            .ct_cta__container{
                display: flex;
                flex-direction: column;
                @media(max-width:$tab-max){
                    width: 100%;
                }
                a{
                    margin-right: 4px;
                    margin-bottom: 8px;
                    @media(max-width:$tab-max){
                        width: 46%;
                        max-width: 46%;
                        margin-right: 2%;
                        min-width: 1px;
                      
                    }
                    &.ct_cta__single{
                        @media(max-width:$tab-max){
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}