.ct_space{


.ct_hero__container{
    width: 100%;
    display: block;
    padding-bottom: 100px;
    position: relative;
    .ct_hero__text{
        width: 100%;
        text-align: center;
        padding: 40px 0 30px 0;
        h1{
            font-size: 16px;
            color: $black;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .ct_hero__sliders{
        position: relative;
    }
    .slider-images{
        width: 100%;
      
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        .slick-slide{
            transition: all .6s ease;
            padding: 200px 0;
            &.slick-current{
                filter: blur(0);
                transform: scale(1.9);
            }
            &:not(.slick-current){
                filter: blur(5px);
                transform: scale(1.1);
            }
            .image{
                position: relative;
                img{
                    width: 60%;
                    margin: auto;
                    height: auto;
                    display: block;
                }
                .shadow{
                    position: absolute;
                    bottom: -3%;
                    z-index: 1;
                    left: 20%;
                }
            }
        }

     
       
    }
}


.slider-text{
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: -5%;
    top: 50%;
    pointer-events: none;
    .slick-list,
    .slick-track,
    .slick-slide{
        height: 100%;
    }
    .slick-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text{
            width: 100%;
            text-align: center;
          
            h3{
                font-size: 8vw;
                font-weight: 300;
                color: $black;
                line-height: 1;
              
                margin-top: 0;
                margin-bottom: 0;
            }
            p{
              
                font-size: 1.3vw;
                width: 30vw;
                font-weight: 300;
                color: $black_hover;
                padding-top: 11.5vw;
                line-height: 1;
                pointer-events: all;
                text-align: center;
                margin: auto;
            }
            .cta{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 12px;
            }
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 0px;
        margin: 0;
        left: 50%;
        bottom: -35px;
        display: flex;
        padding: 0;
        transform: translateX(-50%);
        width: auto;
        @media(max-width:$mob){
         
          
            width: auto;
            padding: 0;
          
           
        }
        li{
            list-style: none;
            position: relative;
          
            margin: 0;
           
            width: auto;
            margin-top: 0px;
            @media(max-width:$mob){
               
                left: unset;
                bottom: 0;
            }
            &:not(.slick-active){
                display: none;
            }
            button{
                background-color: transparent;
                border: none;
                display: block;
                padding: 0;
                padding-bottom: 2px;
                font-size: 14px;
                width: auto;
                color: $black;
                @media(max-width:$mob){
                    margin: 0;
                }
            }
        }
        span{
           
            position: relative;
           
            display: block;
            padding-bottom: 3px;
            font-size: 14px;
            margin-left: 2px;
            font-weight: 500;
           
        }
    }
    .slick-arrow{
        position: absolute;
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        bottom: -34px;
        margin-top: -22px;
        left: 46%;
        transform: translateX(-50%);
        pointer-events: auto;
        &.slick-next{
            left: auto;
            right: 46%;
            z-index: 10;
            transform: translateX(50%);
        }
        &.slick-prev{
            z-index: 10;
        }
    }
}








.slider-images .slide .image img:not(.shadow){
    animation: levitateFrame 8s linear infinite;
    animation-play-state: paused;
}
.slider-images .slide .image .shadow{
    animation: levitateShadow 8s linear infinite;
    animation-play-state: paused;
}
.slider-images .slick-slide.slick-current .image img:not(.shadow){
    animation-play-state: running;
}
.slider-images .slick-slide.slick-current .image .shadow{
    animation-play-state: running;
}
@keyframes levitateFrame {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-2%);
    }
    30% {
        transform: translateY(2%);
    }
    50% {
        transform: translateY(-2%);
    }
    70% {
        transform: translateY(2%);
    }
    90% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes levitateShadow {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
}