.ct_space{
    a,span{
        font-family: $font-default;
        text-decoration: none;
    
      


        &.ct_link{    
            display: inline-block;       
            text-decoration: underline;
            &:hover{
                @media(min-width: $break-desktop-min ){
                    text-decoration: none;
                }
            }
        }
        &.ct_cta{
            min-width: 160px;
            height: 36px;
            font-size: 12px;
            @extend %flex-center;
            display: inline-flex;
            border-radius: 18px;
            transition: all .3s ease;
            padding: 0 15px;
            box-sizing: border-box;
            text-transform: uppercase;
            position: relative;
            font-weight: 500;
            line-height: 1;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 10px 10px 0 10px;
         
            &.ct_cta__short{
                min-width: 130px;
            }
           
            
            &.ct_cta__large{
                min-width: 220px;  
            }
        

            //types
            
            &.ct_cta__red{
                color: $white;
                background-color: $brand-red;
                border: 2px solid $brand-red;
               
                &:hover{
                    @media(min-width:$break-desktop-min){
                        background-color: $dark-red-cta;
                        border-color: $dark-red-cta;
                        color: $white; 
                    }
                }
                &:active,&:focus{
                    border-color: $dark-red-cta;
                    background-color: $dark-red-cta;;
                    color: $white;
                }
            }


            &.ct_cta__white{
                color: $brand-red;;
                background-color: $white;
                border: 2px solid $brand-red;
               
                &:hover{
                    @media(min-width:$break-desktop-min){
                        background-color: $red-hover-cta;
                        color: $brand-red; 
                    }
                }
                &:active,&:focus{
                    background-color: $red-hover-cta;
                    color: $brand-red; 
                }

            }  
            &.ct_cta__black{
                color: $white;;
                background-color: $black;
                border: 2px solid $black;
               
                &:hover{
                    @media(min-width:$break-desktop-min){
                        background-color: $black-hover;
                        border: 2px solid $black-hover;
                       
                    }
                }
                &:active,&:focus{
                    background-color: $black-hover;
                    border: 2px solid $black-hover;
                }

            }  
            &.ct_cta__deactivated{
                color: $dark-gray;
                background-color: $medium-gray;
                border: 2px solid $medium-gray;
                cursor: default;
            }  
            &.ct_cta__outline_red{
                color: $brand-red;;
                background-color: transparent;
                border: 2px solid $brand-red;
               
                &:hover{
                    @media(min-width:$break-desktop-min){
                        background-color: $red-hover-cta;
                        color: $brand-red; 
                    }
                }
                &:active,&:focus{
                    background-color: $red-hover-cta;
                    color: $brand-red; 
                }

            }  

            &.ct_cta__outline_black{
                color: $black;;
                background-color: transparent;
                border: 2px solid $black;
               
                &:hover{
                    @media(min-width:$break-desktop-min){
                        background-color: rgba(206, 212, 217, 0.5);
                        
                    }
                }
                &:active,&:focus{
                    background-color: rgba(206, 212, 217, 0.5);
                }

            }  
            
            &.ct_cta__mob__red{
                @media(max-width:$break-landscape-min){
                    color: $white;
                    background-color: $brand-red;
                    border: 2px solid $brand-red;
                    &:active,&:focus{
                        background-color: $white;
                        color: $brand-red;
                    }
                }
            }         
            &.ct_cta__mob__white{
                @media(max-width:$break-landscape-min){
                    color: $brand-red;
                    background-color: $white;
                    border: 2px solid $brand-red;
                    &:active,&:focus{
                        background-color: $brand-red;
                        color: $white;
                    }
                }
            }
            &.ct_cta__mob__black{
                @media(max-width:$break-landscape-min){
                    color: $white;
                    background-color: $black;
                    border: 2px solid $black;
                    &:active,&:focus{
                        background-color: $black-hover;
                        border: 2px solid $black-hover;
                    }
                }

            }  

            &.ct_cta__mob__outline_red{
                @media(max-width:$break-landscape-min){
                    color: $brand-red;;
                    background-color: transparent;
                    border: 2px solid $brand-red;
                    &:active,&:focus{
                        background-color: $brand-red;
                        color: $white;
                    }
                }

            }  
            &.ct_cta__mob__outline_black{
                @media(max-width:$break-landscape-min){
                    color: $black;;
                    background-color: transparent;
                    border: 2px solid $black;
                    &:active,&:focus{
                        background-color: rgba(206, 212, 217, 0.5);
                    }
                }
            }  
            
        }
    }
    .ct_cta__container{
        a:first-child{
            margin-left: 0;
        }
        a:last-child{
            margin-right: 0;
        }
        @media(max-width:$break-tablet-portrait-max){
            margin: 0;
            // margin-bottom: -5px;
            a:first-child{
                margin-left: 0;
            }
        }
       
    }
}