// @include transform(rotate(30deg));
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
    
    
// @extend %flex-center;
%default-reset {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
%flex-important {
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
}
%flex-center {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
%flex-start {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
%flex-end {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
%flex-column {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}
%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%)); 
}