.ct_space{
    * {
        margin: 0;
        padding: 0;
    }
    
    color: $black;
    font-family: $font-default;
    margin:0;
    padding: 0;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    width: 100%;
    h1,h2,h3,h4,h5,h6{
        text-transform: none;
        padding: 0;
        color: $black;
    }

    h1,h2,h3{
        font-family: $font-default;
        font-weight: normal;
    }
    h4{
        font-family: $font-default; 
        font-weight: normal;
    }
    h5{
        font-family: $font-default;
        font-weight: normal;
    }
    h6{
        font-family: $font-default;
        font-weight: normal;
    } 
    p{
        font-family: $font-default;  
        line-height: 1.2;  
    }
    
    //font-family
    .ct_font__default{
        font-family: $font-default !important;
    }
   
    // Fonts
    .ct_font__light {
        font-weight: 100 !important;
    }
    .ct_font__regular {
        font-weight: 400 !important;
    }
    .ct_font__medium {
        font-weight: 500 !important;
    }
    .ct_font__bold {
        font-weight: 900 !important;
    }
    @media(max-width: $break-mobile-max ){
        .ct_font__mob__light {
            font-weight: 100 !important;
        }
        .ct_font__mob__regular {
            font-weight: 400 !important;
        }
        .ct_font__mob__medium {
            font-weight: 500 !important;
        }
        .ct_font__mob__bold {
            font-weight: 900 !important;
        }
    }
    @media(min-width: $break-tablet-portrait-min ){
        .ct_font__desk__light {
            font-weight: 100 !important;
        }
        .ct_font__desk__regular {
            font-weight: 400 !important;
        }
        .ct_font__desk__medium {
            font-weight: 500 !important;
        }
        .ct_font__desk__bold {
            font-weight: 900 !important;
        }
    }

    .ct_font__xxxl{
        font-size: $font-xxxl !important;
        font-family: $font-default; 
        @media(max-width: $break-desktop-medium ){
            font-size: $font-xxl !important;
        }
        @media(max-width: $break-desktop-small ){
            font-size: $font-xl !important;
        }
        @media(max-width: $break-mobile-max ){
            font-size: $font-xxxl-mobile !important;
        }
    }
    .ct_font__xxl{
        font-size: $font-xxl !important;
        @media(max-width: $break-desktop-small ){
            font-size: $font-xl !important;
        }
        @media(max-width: $break-mobile-max ){
            font-size: $font-xxl-mobile !important;
        }
    }
   
    .ct_font__xl{
        font-size: $font-xl !important;
        @media(max-width: $break-desktop-medium ){
            font-size: 28px !important;
        }
        @media(max-width: $break-desktop-small ){
            font-size: $font-l !important;
        }
        @media(max-width: $break-mobile-max ){
            font-size: $font-xl-mobile !important;
        }
    }
    .ct_font__l{
        font-size: $font-l !important; 
        @media(max-width: $break-mobile-max ){
            font-size: $font-l-mobile !important;
        }
    }
   
    .ct_font__ml{
        font-size: $font-ml !important;
        @media(max-width: $break-mobile-max ){
            font-size: $font-l-mobile !important;
        }
    }
    .ct_font__m{
        font-size: $font-m !important;
        @media(max-width: $break-mobile-max ){
            font-size: $font-m-mobile !important;
        }
    }
    .ct_font__s{
        font-size: $font-s !important;
        @media(max-width: $break-mobile-max ){
            font-size: $font-s-mobile !important;
        }
    }
    .ct_font__xs{
        font-size: $font-xs !important;
        @media(max-width: $break-mobile-max ){
            font-size: $font-xs-mobile !important;
        }
    }
  
    @media(max-width: $break-mobile-max ){
        .ct_font__mob__xxxl {
            font-size: $font-xxxl-mobile !important;
        }
        .ct_font__mob__xxl {
            font-size: $font-xxl-mobile !important;
        }
        .ct_font__mob__xl {
            font-size: $font-xl-mobile !important;
        }
        .ct_font__mob__l {
            font-size: $font-l-mobile !important;
        }
        .ct_font__mob__m {
            font-size: $font-m-mobile !important;
        }
        .ct_font__mob__s {
            font-size: $font-s-mobile !important;
        }
        .ct_font__mob__xs {
            font-size: $font-xs-mobile !important;
        }
       
    }
   

    //Text Transform
    .ct_text__uppercase{
        text-transform: uppercase !important;
    }
    .ct_ls__1{
        letter-spacing: 1px;
    }
    .ct_ls__2{
        letter-spacing: 2px;
    }
    .ct_ls__3{
        letter-spacing: 3px;
    }
    .ct_ls__4{
        letter-spacing: 4px;
    }
    

    // Text align
    .ct_text__left{
        text-align: left !important;
    }
    .ct_text__center{
        text-align: center !important;
    }
    .ct_text__right{
        text-align: right !important;
    }
    .ct_text__mob__left{
        @media(max-width: $break-mobile-max ){
            text-align: left !important;
        }
    }
    .ct_text__mob__center{
        @media(max-width: $break-mobile-max ){
            text-align: center !important;
        }
    }
    .ct_text__mob__right{
        @media(max-width: $break-mobile-max ){
            text-align: right !important;
        }
    }


     // Border
     .ct_b__grey{
        border: 1px solid $medium-gray !important;
    }
     .ct_bt__grey{
        border-top: 1px solid $medium-gray !important;
    }
    .ct_bt__none{
        border-top: none !important
    }
    .ct_bl__grey{
        border-left: 1px solid $medium-gray !important;
    }
    .ct_bl__none{
        border-left: none !important
    }
    .ct_br__grey{
        border-right: 1px solid $medium-gray !important;
    }
    .ct_br__none{
        border-right: none !important
    }
    .ct_bb__grey{
        border-bottom: 1px solid $medium-gray !important;
    }
    .ct_bb__none{
        border-bottom: none !important
    }
   
    .ct_b__none{
        border: none !important;
    }
    .ct_b__mob__grey{
        @media(max-width: $break-mobile-max ){
            border: 1px solid $medium-gray !important;
        }
    }
    .ct_bt__mob__grey{
        @media(max-width: $break-mobile-max ){
            border-top: 1px solid $medium-gray !important;
        }
    }
    .ct_bt__mob__none{
        @media(max-width: $break-mobile-max ){
            border-top: none !important;
        }
    }
    .ct_bl__mob__grey{
        @media(max-width: $break-mobile-max ){
            border-left: 1px solid $medium-gray !important;
        }
    }
    .ct_bl__mob__none{
        @media(max-width: $break-mobile-max ){
            border-left: none !important;
        }
    }
    .ct_br__mob__grey{
        @media(max-width: $break-mobile-max ){
            border-right: 1px solid $medium-gray !important;
        }
    }
    .ct_br__mob__none{
        @media(max-width: $break-mobile-max ){
            border-right:none !important;
        }
    }
    .ct_bb__mob__grey{
        @media(max-width: $break-mobile-max ){
            border-bottom: 1px solid $medium-gray !important;
        }
    }
    .ct_bb__mob__none{
        @media(max-width: $break-mobile-max ){
            border-bottom: none !important;
        }
    }
   
    .ct_b__mob__none{
        @media(max-width: $break-mobile-max ){
            border:none !important;
        }
    }

    //line height
    .ct_lh__1{
        line-height: 1 !important;
    }
    .ct_lh__1_2{
        line-height: 1.2 !important;
    }
    .ct_lh__1_5{
        line-height: 1.5 !important;
    }
    @media (orientation: portrait) and (max-width: $break-portrait-max), (orientation: landscape) and (max-width: $break-landscape-max){
        .ct_lh__mob__1{
            line-height: 1 !important;
        }
        .ct_lh__mob__1_2{
            line-height: 1.2 !important;
        }
        .ct_lh__mob__1_5{
            line-height: 1.5 !important;
        }
    }


    img,video{
        width: 100%;
        height: auto;
        display: block;
    }


    .ct_icon{
        background: transparent;
        fill: currentColor;
        width: 50px;
        height: 50px;
        display: block;

        &.ct_rotate__90 {
            @include transform(rotate(90deg));
        }
        &.ct_rotate__180 {
            @include transform(rotate(180deg));
        }
        &.ct_rotate__270 {
            @include transform(rotate(270deg));
        }
    }

    .ct_ul{
        padding-left: 20px;
        li{
            list-style: disc;
            margin-bottom: 8px;
            line-height: 1.5;
        }
    }
    .ct_hide{
        display: none !important;
    }
    @media(max-width: $break-mobile-max ){
        .ct__mob__hide{
            display: none !important;
        }
    }
    @media (min-width:$break-tablet-portrait-min){
        .ct__desk__hide{
            display: none !important;
        }
    }
    .ct_banner__container_plp{
        padding: 0 64px;
        @media(max-width:$break-landscape-min){
            padding: 0 16px;
        }
    }
    
    .ct_banner__container{
        padding: 40px;
        @media(max-width:$break-grid-mobile-max){
            padding: 16px;
        }
    }
    
}
