//margins
$space-base: 10px;
$space-base-name: 10;
@for $i from 0 through 16 {
    .ct_p__#{$i * $space-base-name} {
        padding: $i * $space-base !important;
    }
    .ct_m__#{$i * $space-base-name} {
        margin: $i * $space-base !important;
    }
}
@for $i from 0 through 16 {
    .ct_pl__#{$i * $space-base-name} {
        padding-left: $i * $space-base !important;
    }
    .ct_ml__#{$i * $space-base-name} {
        margin-left: $i * $space-base !important;
    }
}
@for $i from 0 through 16 {
    .ct_pt__#{$i * $space-base-name} {
        padding-top: $i * $space-base !important;
    }
    .ct_mt__#{$i * $space-base-name} {
        margin-top: $i * $space-base !important;
    }
}
@for $i from 0 through 16 {
    .ct_pr__#{$i * $space-base-name} {
        padding-right: $i * $space-base !important;
    }
    .ct_mr__#{$i * $space-base-name} {
        margin-right: $i * $space-base !important;
    }
}
@for $i from 0 through 16 {
    .ct_pb__#{$i * $space-base-name} {
        padding-bottom: $i * $space-base !important;
    }
    .ct_mb__#{$i * $space-base-name} {
        margin-bottom: $i * $space-base !important;
    }
}

//margins
$space-base-4: 4px;
$space-base-name-4: 4;
@for $i from 1 through 16 {
    .ct_p__#{$i * $space-base-name-4} {
        padding: $i * $space-base-4 !important;
    }
    .ct_m__#{$i * $space-base-name-4} {
        margin: $i * $space-base-4 !important;
    }
}
@for $i from 1 through 16 {
    .ct_pl__#{$i * $space-base-name-4} {
        padding-left: $i * $space-base-4 !important;
    }
    .ct_ml__#{$i * $space-base-name-4} {
        margin-left: $i * $space-base-4 !important;
    }
}
@for $i from 1 through 16 {
    .ct_pt__#{$i * $space-base-name-4} {
        padding-top: $i * $space-base-4 !important;
    }
    .ct_mt__#{$i * $space-base-name-4} {
        margin-top: $i * $space-base-4 !important;
    }
}
@for $i from 1 through 16 {
    .ct_pr__#{$i * $space-base-name-4} {
        padding-right: $i * $space-base-4 !important;
    }
    .ct_mr__#{$i * $space-base-name-4} {
        margin-right: $i * $space-base-4 !important;
    }
}
@for $i from 1 through 16 {
    .ct_pb__#{$i * $space-base-name-4} {
        padding-bottom: $i * $space-base-4 !important;
    }
    .ct_mb__#{$i * $space-base-name-4} {
        margin-bottom: $i * $space-base-4 !important;
    }
}

$dimension-base: 5%;
$dimension-base-name: 5;
@for $i from 0 through 21 {
    .ct_w__#{$i * $dimension-base-name} {
        width: $i * $dimension-base !important;
    }
    .ct_h__#{$i * $dimension-base-name} {
        height: $i * $dimension-base !important;
    }
    
    .ct_l__#{$i * $dimension-base-name} {
        left: $i * $dimension-base !important;
    }
    .ct_t__#{$i * $dimension-base-name} {
        top: $i * $dimension-base !important;
    }
    .ct_r__#{$i * $dimension-base-name} {
        right: $i * $dimension-base !important;
    }
    .ct_b__#{$i * $dimension-base-name} {
        bottom: $i * $dimension-base !important;
    }
}

$dimension-base: 5vw;
$dimension-base-name: 5;
@for $i from 0 through 21 {
    .ct_w__#{$i * $dimension-base-name}_vw {
        width: $i * $dimension-base !important;
    }
    .ct_h__#{$i * $dimension-base-name}_vw {
        height: $i * $dimension-base !important;
    }
    
    .ct_l__#{$i * $dimension-base-name}_vw {
        left: $i * $dimension-base !important;
    }
    .ct_t__#{$i * $dimension-base-name}_vw {
        top: $i * $dimension-base !important;
    }
    .ct_r__#{$i * $dimension-base-name}_vw {
        right: $i * $dimension-base !important;
    }
    .ct_b__#{$i * $dimension-base-name}_vw {
        bottom: $i * $dimension-base !important;
    }
}

$dimension-base: 10px;
$dimension-base-name: 10;
@for $i from 0 through 21 {
    .ct_w__#{$i * $dimension-base-name}_px {
        width: $i * $dimension-base !important;
    }
    .ct_h__#{$i * $dimension-base-name}_px {
        height: $i * $dimension-base !important;
    }
    
    .ct_l__#{$i * $dimension-base-name}_px {
        left: $i * $dimension-base !important;
    }
    .ct_t__#{$i * $dimension-base-name}_px {
        top: $i * $dimension-base !important;
    }
    .ct_r__#{$i * $dimension-base-name}_px {
        right: $i * $dimension-base !important;
    }
    .ct_b__#{$i * $dimension-base-name}_px {
        bottom: $i * $dimension-base !important;
    }
}

@media(max-width:$break-grid-mobile-max) {
    $space-base: 10px;
    $space-base-name: 10;
    @for $i from 0 through 16 {
        .ct_p__mob__#{$i * $space-base-name} {
            padding: $i * $space-base !important;
        }
        .ct_m__mob__#{$i * $space-base-name}{
            margin: $i * $space-base !important;
        }
    }
    @for $i from 0 through 16 {
        .ct_pl__mob__#{$i * $space-base-name} {
            padding-left: $i * $space-base !important;
        }
        .ct_ml__mob__#{$i * $space-base-name}{
            margin-left: $i * $space-base !important;
        }
    }
    @for $i from 0 through 16 {
        .ct_pt__mob__#{$i * $space-base-name} {
            padding-top: $i * $space-base !important;
        }
        .ct_mt__mob__#{$i * $space-base-name} {
            margin-top: $i * $space-base !important;
        }
    }
    @for $i from 0 through 16 {
        .ct_pr__mob__#{$i * $space-base-name} {
            padding-right: $i * $space-base !important;
        }
        .ct_mr__mob__#{$i * $space-base-name} {
            margin-right: $i * $space-base !important;
        }
    }
    @for $i from 0 through 16 {
        .ct_pb__mob__#{$i * $space-base-name} {
            padding-bottom: $i * $space-base !important;
        }
        .ct_mb__mob__#{$i * $space-base-name} {
            margin-bottom: $i * $space-base !important;
        }
    }
        //margins
    $space-base-4: 4px;
    $space-base-name-4: 4;
    @for $i from 1 through 16 {
        .ct_p__mob__#{$i * $space-base-name-4} {
            padding: $i * $space-base-4 !important;
        }
        .ct_m__mob__#{$i * $space-base-name-4} {
            margin: $i * $space-base-4 !important;
        }
    }
    @for $i from 1 through 16 {
        .ct_pl__mob__#{$i * $space-base-name-4} {
            padding-left: $i * $space-base-4 !important;
        }
        .ct_ml__mob__#{$i * $space-base-name-4} {
            margin-left: $i * $space-base-4 !important;
        }
    }
    @for $i from 1 through 16 {
        .ct_pt__mob__#{$i * $space-base-name-4} {
            padding-top: $i * $space-base-4 !important;
        }
        .ct_mt__mob__#{$i * $space-base-name-4} {
            margin-top: $i * $space-base-4 !important;
        }
    }
    @for $i from 1 through 16 {
        .ct_pr__mob__#{$i * $space-base-name-4} {
            padding-right: $i * $space-base-4 !important;
        }
        .ct_mr__mob__#{$i * $space-base-name-4} {
            margin-right: $i * $space-base-4 !important;
        }
    }
    @for $i from 1 through 16 {
        .ct_pb__mob__#{$i * $space-base-name-4} {
            padding-bottom: $i * $space-base-4 !important;
        }
        .ct_mb__mob__#{$i * $space-base-name-4} {
            margin-bottom: $i * $space-base-4 !important;
        }
    }

    $dimension-base: 5%;
    $dimension-base-name: 5;
    @for $i from 0 through 21 {
        .ct_w__mob__#{$i * $dimension-base-name} {
            width: $i * $dimension-base !important;
        }
        .ct_h__mob__#{$i * $dimension-base-name} {
            height: $i * $dimension-base !important;
        }
        
        .ct_l__mob__#{$i * $dimension-base-name} {
            left: $i * $dimension-base !important;
        }
        .ct_t__mob__#{$i * $dimension-base-name} {
            top: $i * $dimension-base !important;
        }
        .ct_r__mob__#{$i * $dimension-base-name} {
            right: $i * $dimension-base !important;
        }
        .ct_b__mob__#{$i * $dimension-base-name} {
            bottom: $i * $dimension-base !important;
        }
    }
    $dimension-base: 5vw;
$dimension-base-name: 5;
@for $i from 0 through 21 {
    .ct_w__mob__#{$i * $dimension-base-name}_vw {
        width: $i * $dimension-base !important;
    }
    .ct_h__mob__#{$i * $dimension-base-name}_vw {
        height: $i * $dimension-base !important;
    }
    
    .ct_l__mob__#{$i * $dimension-base-name}_vw {
        left: $i * $dimension-base !important;
    }
    .ct_t__mob__#{$i * $dimension-base-name}_vw {
        top: $i * $dimension-base !important;
    }
    .ct_r__mob__#{$i * $dimension-base-name}_vw {
        right: $i * $dimension-base !important;
    }
    .ct_b__mob__#{$i * $dimension-base-name}_vw {
        bottom: $i * $dimension-base !important;
    }
}
}
