

//fonts
$font-light: "DINOT-Light";
$font-regular: "DINOT-Regular";
$font-medium: "DINOT-Medium";
$font-bold: "DINOT-Bold";


//colors
$black: #02212C;
$blue: #0080A9;
$light-blue: #DDEDF4;

//font sizes
$font-xxxl: 80px;
$font-xxl: 48px;
$font-xl: 40px;
$font-l: 32px;
$font-xm: 24px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 16px;
$font-xxs: 14px;
$font-xxxs: 12px;
$font-xxxxs: 10px;
//font sizes mobile
$font-xxxl-mobile: 32px;
$font-xxl-mobile: 24px;
$font-xl-mobile: 20px;
$font-l-mobile: 18px;
$font-m-mobile: 16px;
$font-s-mobile: 14px;
$font-xs-mobile: 12px;
$font-xxs-mobile: 12px;


//line-height
$line-height-l: 1.5;
$line-height-m: 1.2;
$line-height-s: 1;

//break point
$break-desktop-medium: 1400px;
$break-desktop-small: 1280px;
$break-desktop-min: 1081px;
$break-tablet-landscape-max: 1080px;
$break-tablet-landscape-min: 1024px;
$break-tablet-portrait-max: 1023px;
$break-tablet-portrait-min: 768px;
$break-mobile-max: 767px;
$break-mobile-medium: 380px;
$break-mobile-small: 330px;


$break-portrait-max: 1024px;
$break-portrait-min: 1025px;
$break-landscape-max: 1023px;
$break-landscape-min: 1024px;

//transition
$transition-default: all .3s ease;
$transition-default-delay: all .4s ease .4s;
$transition-product: all .5s ease .1s;
$transition-product-hover: all .3s ease .1s;

//border
$border-default: 1px solid #000;



//collection padding
$collection-padding: 3%;