//Variabili che comprendono font family, color palette, font size (base, sm, md, lg...), line-height, breakpoint, container...

//size of padding-right and padding-left
$gutter-x: 2rem; //32px
$gutter-y: 0; //0px

//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//font-family
$first-font: "Nunito", Helvetica, sans-serif;
$second-font: "Nunito", Helvetica, sans-serif;

//font-size
$font-xxxl: 4rem; // 64px
$font-xxl: 2.5rem; // 40px
$font-xl: 1.875rem; // 30px
$font-l: 1.563rem; // 25px
$font-m: 1.25rem; // 20px
$font-s: 1.125rem; // 18px
$font-xs: 1rem; // 16px
$font-xxs: 0.875rem; // 14px
$font-xxxs: 0.75rem; // 12px

//font-weight for p, a, ul, ol
$text-bold: 700;

//letter-spacing
$heading-letter-spacing: 7.5px;
$text-letter-spacing: 0.8px;

//line-height
$heading-line-height: 1.3;
$text-line-height: 1.5;

//text-transform
$heading-text-transform: uppercase;

//colors
$dark: #000;
$black: #222;
$first-color: #192c50; // not used
$second-color: #f4f1ed;
$third-color: #f9f9f9;
$fourth-color: #767676; // not used
$fifth-color: #cc0000; // not used
$sixth-color: #f4f4f4;
$seventh-color: #d6d6d6;
$white: #fff;

//border for elements (optional to use)
$border-width: 1px;
$border-style: solid;
$border-color-1: $seventh-color;
$border-color-2: $sixth-color;

//border-radius
$border-radius-1: 24px;
$border-radius-2: 16px;

//box-shadow
$box-shadow-1: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);

//cta
$cta-height: 40px;
